Repository bounswe/bounswe2020group3, pull requests merged in 2020-11, with the labels that each got.

#130 Create issue_template.md
  .github/issue_template.md
Labels: Type: Documentation

#141 Front end setup
  front-end/.dockerignore
  front-end/.gitignore
  front-end/Dockerfile
  front-end/README.md
  front-end/package-lock.json
  front-end/package.json
  front-end/public/favicon.ico
  front-end/public/index.html
  front-end/public/logo192.png
  front-end/public/logo512.png
  front-end/public/manifest.json
  front-end/public/robots.txt
  front-end/src/App.css
  front-end/src/App.js
  front-end/src/App.test.js
  front-end/src/Helper/RequestHelper/RequestHelper.js
  front-end/src/config.js
  front-end/src/index.css
  front-end/src/index.js
  front-end/src/logo.svg
  front-end/src/reportWebVitals.js
  front-end/src/setupTests.js
Labels: Frontend, Priority: Critical, Status: Review Needed, Type: Starter

#140 Update some wording in the issue template.
  .github/issue_template.md
Labels: Type: Documentation

#159 Backend Setup
  backend/.gitignore
  backend/README.md
  backend/backend/__init__.py
  backend/backend/__pycache__/__init__.cpython-38.pyc
  backend/backend/__pycache__/settings.cpython-38.pyc
  backend/backend/__pycache__/urls.cpython-38.pyc
  backend/backend/asgi.py
  backend/backend/settings.py
  backend/backend/urls.py
  backend/backend/wsgi.py
  backend/manage.py
  backend/requirements.txt
  backend/setup.sh
Labels: Backend, Priority: Low, Type: Starter

#163 swagger api is added.
  backend/.gitignore
  backend/api/__init__.py
  backend/api/admin.py
  backend/api/apps.py
  backend/api/migrations/0001_initial.py
  backend/api/migrations/__init__.py
  backend/api/models/example.py
  backend/api/serializers/example.py
  backend/api/tests.py
  backend/api/urls.py
  backend/api/views/example.py
  backend/backend/__pycache__/__init__.cpython-38.pyc
  backend/backend/__pycache__/settings.cpython-38.pyc
  backend/backend/__pycache__/urls.cpython-38.pyc
  backend/backend/settings.py
  backend/backend/swagger_api.py
  backend/backend/urls.py
  backend/requirements.txt
Labels: Backend, Priority: High, Type: Enhancement

#165 setup script for linux or macos is added
  backend/.gitignore
  backend/backend/__pycache__/urls.cpython-38.pyc
  backend/linux_setup
Labels: Backend, Priority: Low, Status: In Progress, Type: Enhancement

#169 Create Android Project
  android/.gitignore
  android/.idea/.gitignore
  android/.idea/compiler.xml
  android/.idea/gradle.xml
  android/.idea/jarRepositories.xml
  android/.idea/misc.xml
  android/app/.gitignore
  android/app/build.gradle
  android/app/proguard-rules.pro
  android/app/src/androidTest/java/com/bounswe2020group3/paperlayer/ExampleInstrumentedTest.kt
  android/app/src/main/AndroidManifest.xml
  android/app/src/main/java/com/bounswe2020group3/paperlayer/LoginFragment.kt
  android/app/src/main/java/com/bounswe2020group3/paperlayer/MainActivity.kt
  android/app/src/main/java/com/bounswe2020group3/paperlayer/MainFragment.kt
  android/app/src/main/java/com/bounswe2020group3/paperlayer/RegisterFragment.kt
  android/app/src/main/res/drawable-v24/ic_launcher_foreground.xml
  android/app/src/main/res/drawable/ic_launcher_background.xml
  android/app/src/main/res/layout/activity_main.xml
  android/app/src/main/res/layout/fragment_login.xml
  android/app/src/main/res/layout/fragment_main.xml
  android/app/src/main/res/layout/fragment_register.xml
  android/app/src/main/res/mipmap-anydpi-v26/ic_launcher.xml
  android/app/src/main/res/mipmap-anydpi-v26/ic_launcher_round.xml
  android/app/src/main/res/mipmap-hdpi/ic_launcher.png
  android/app/src/main/res/mipmap-hdpi/ic_launcher_round.png
  android/app/src/main/res/mipmap-mdpi/ic_launcher.png
  android/app/src/main/res/mipmap-mdpi/ic_launcher_round.png
  android/app/src/main/res/mipmap-xhdpi/ic_launcher.png
  android/app/src/main/res/mipmap-xhdpi/ic_launcher_round.png
  android/app/src/main/res/mipmap-xxhdpi/ic_launcher.png
  android/app/src/main/res/mipmap-xxhdpi/ic_launcher_round.png
  android/app/src/main/res/mipmap-xxxhdpi/ic_launcher.png
  android/app/src/main/res/mipmap-xxxhdpi/ic_launcher_round.png
  android/app/src/main/res/navigation/my_nav.xml
  android/app/src/main/res/values-night/themes.xml
  android/app/src/main/res/values/colors.xml
  android/app/src/main/res/values/strings.xml
  android/app/src/main/res/values/themes.xml
  android/app/src/test/java/com/bounswe2020group3/paperlayer/ExampleUnitTest.kt
  android/build.gradle
  android/gradle.properties
  android/gradle/wrapper/gradle-wrapper.jar
  android/gradle/wrapper/gradle-wrapper.properties
  android/gradlew
  android/gradlew.bat
  android/settings.gradle
Labels: Android

#175 User profiles created
  backend/api/admin.py
  backend/api/migrations/0001_initial.py
  backend/api/models/profile.py
  backend/api/permission.py
  backend/api/serializers/profile.py
  backend/api/serializers/user.py
  backend/api/urls.py
  backend/api/views/profile.py
  backend/api/views/user.py
  backend/backend/settings.py
  backend/backend/urls.py
Labels: Backend, Priority: Medium, Type: Enhancement

#176 Changed register and log-out endpoints to GenericAPIViews for better documentation on swagger
  backend/api/urls.py
  backend/api/views/auth.py
Labels: Backend, Priority: Medium, Type: Enhancement

#177 Backend weekly merge 1
  backend/.gitignore
  backend/api/__init__.py
  backend/api/admin.py
  backend/api/apps.py
  backend/api/migrations/0001_initial.py
  backend/api/migrations/__init__.py
  backend/api/models/example.py
  backend/api/models/profile.py
  backend/api/permission.py
  backend/api/serializers/auth.py
  backend/api/serializers/example.py
  backend/api/serializers/profile.py
  backend/api/serializers/user.py
  backend/api/tests.py
  backend/api/urls.py
  backend/api/views/auth.py
  backend/api/views/example.py
  backend/api/views/profile.py
  backend/api/views/user.py
  backend/backend/__pycache__/__init__.cpython-38.pyc
  backend/backend/__pycache__/settings.cpython-38.pyc
  backend/backend/__pycache__/urls.cpython-38.pyc
  backend/backend/settings.py
  backend/backend/swagger_api.py
  backend/backend/urls.py
  backend/linux_setup
  backend/requirements.txt
Labels: Backend, Priority: Medium, Type: Enhancement

#174 Create MVP architecture
  android/.idea/codeStyles/Project.xml
  android/.idea/gradle.xml
  android/.idea/jarRepositories.xml
  android/.idea/misc.xml
  android/.idea/vcs.xml
  android/app/build.gradle
  android/app/dependencies.gradle
  android/app/src/main/AndroidManifest.xml
  android/app/src/main/java/com/bounswe2020group3/paperlayer/BasePresenter.kt
  android/app/src/main/java/com/bounswe2020group3/paperlayer/BaseView.kt
  android/app/src/main/java/com/bounswe2020group3/paperlayer/DependencyInjector.kt
  android/app/src/main/java/com/bounswe2020group3/paperlayer/DependencyInjectorImpl.kt
  android/app/src/main/java/com/bounswe2020group3/paperlayer/LoginFragment.kt
  android/app/src/main/java/com/bounswe2020group3/paperlayer/MainActivity.kt
  android/app/src/main/java/com/bounswe2020group3/paperlayer/MainContract.kt
  android/app/src/main/java/com/bounswe2020group3/paperlayer/MainFragment.kt
  android/app/src/main/java/com/bounswe2020group3/paperlayer/MainPresenter.kt
  android/app/src/main/java/com/bounswe2020group3/paperlayer/RegisterFragment.kt
  android/app/src/main/res/layout/activity_main.xml
  android/app/src/main/res/layout/fragment_login.xml
  android/app/src/main/res/layout/fragment_main.xml
  android/app/src/main/res/layout/fragment_register.xml
  android/build.gradle
  android/gradle/wrapper/gradle-wrapper.properties
Labels: Android, Priority: High, Type: Enhancement

#183 Issue147 login page
  front-end/.gitignore
  front-end/package-lock.json
  front-end/package.json
  front-end/src/App.js
  front-end/src/Common/AlertTypes.json
  front-end/src/Components/Auth/Authenticate.js
  front-end/src/Components/CustomSnackbar/CustomSnackbar.js
  front-end/src/Components/TopBar/PrimarySearchAppBar.js
  front-end/src/Views/LoginPage.js
  front-end/src/Views/RegistrationPage.js
  front-end/src/config.js
  front-end/src/history.js
  front-end/src/index.js
Labels: Frontend, Priority: Medium, Status: Completed :100:

#162 Issue 146 registration
  front-end/src/App.js
  front-end/src/Components/Auth/Authenticate.js
  front-end/src/Views/LoginPage.js
  front-end/src/Views/RegistrationPage.js
  front-end/src/config.js
Labels: Frontend, Priority: Medium, Type: Enhancement, Type: Starter

#180 profile and home pages frontend
  front-end/src/App.js
  front-end/src/Views/HomePage.js
  front-end/src/Views/ProfilePage.js
  front-end/src/index.css
Labels: Frontend, Priority: Medium, Status: In Progress, Type: Enhancement, Type: Starter

#195 Add navigation bar and do some styling refactor
  android/app/src/main/AndroidManifest.xml
  android/app/src/main/java/com/bounswe2020group3/paperlayer/MainActivity.kt
  android/app/src/main/java/com/bounswe2020group3/paperlayer/main/MainFragment.kt
  android/app/src/main/res/drawable-v24/ic_home.png
  android/app/src/main/res/drawable-v24/ic_profile.png
  android/app/src/main/res/drawable-v24/ic_project.png
  android/app/src/main/res/font/roboto.xml
  android/app/src/main/res/layout/activity_main.xml
  android/app/src/main/res/layout/fragment_login.xml
  android/app/src/main/res/layout/fragment_main.xml
  android/app/src/main/res/menu/bottom_nav_menu.xml
  android/app/src/main/res/navigation/main_navigation.xml
  android/app/src/main/res/values-night/themes.xml
  android/app/src/main/res/values/colors.xml
  android/app/src/main/res/values/font_certs.xml
  android/app/src/main/res/values/preloaded_fonts.xml
  android/app/src/main/res/values/strings.xml
  android/app/src/main/res/values/styles.xml
  android/app/src/main/res/values/themes.xml
Labels: Android, Priority: High, Type: Enhancement

#209 User id on auth response
  backend/api/urls.py
  backend/api/views/auth.py
Labels: Backend, Priority: High, Status: Review Needed

#224 fragment_login.xml: Updated according to material-ui components.
  android/app/src/main/java/com/bounswe2020group3/paperlayer/login/LoginContract.kt
  android/app/src/main/java/com/bounswe2020group3/paperlayer/login/LoginFragment.kt
  android/app/src/main/java/com/bounswe2020group3/paperlayer/login/LoginPresenter.kt
  android/app/src/main/res/layout/fragment_login.xml
  android/app/src/main/res/values/strings.xml
Labels: Android

#212 Register now accepts name fields
  backend/api/serializers/auth.py
  backend/api/views/auth.py
Labels: Backend, Priority: Medium, Status: Review Needed, Type: Enhancement

#227 Heroku deployment configuration
  backend/Procfile
  backend/api/serializers/auth.py
  backend/backend/settings.py
  backend/poetry.lock
  backend/pyproject.toml
Labels: Backend, Priority: Medium, Status: In Progress, Type: Enhancement

#229 heroku action configuration for backend
  .github/workflows/backend-heroku.yml
  backend/poetry.lock
Labels: Backend, Priority: Medium, Status: Completed :100:, Type: Enhancement

#231 postgresql is added to dockerfile
  backend/Dockerfile
Labels: Backend, Priority: Low, Status: In Progress, Type: Enhancement

#226 names added to registration
  front-end/src/Views/RegistrationPage.js
Labels: Frontend, Priority: Medium, Status: Review Needed, Type: Enhancement

#240 Action trigger configuration changed
  .github/workflows/backend-heroku.yml
Labels: Backend, Priority: Critical, Status: In Progress, Type: Enhancement

#244 Fe ci
  .github/workflows/frontend-npm.js.yml
  front-end/package.json
  front-end/src/App.js
  front-end/src/App.test.js
  front-end/src/Components/CustomSnackbar/CustomSnackbar.js
  front-end/src/Components/TopBar/PrimarySearchAppBar.js
  front-end/src/Views/HomePage.js
  front-end/src/Views/LoginPage.js
  front-end/src/Views/ProfilePage.js
  front-end/src/config.js
  front-end/src/index.js
Labels: Frontend

#243 Create frontend-npm.js.yml
  .github/workflows/frontend-npm.js.yml
Labels: Android

#246 Issue193 colortheme
  front-end/.dockerignore
  front-end/src/App.css
  front-end/src/App.js
  front-end/src/Common/ColorTheme.js
  front-end/src/Views/HomePage.js
  front-end/src/Views/LoginPage.js
  front-end/src/Views/RegistrationPage.js
Labels: Frontend, Priority: High, Status: Completed :100:, Type: Enhancement

#253 Use material components at main fragment and remove demo button
  android/app/src/main/java/com/bounswe2020group3/paperlayer/main/MainContract.kt
  android/app/src/main/java/com/bounswe2020group3/paperlayer/main/MainFragment.kt
  android/app/src/main/java/com/bounswe2020group3/paperlayer/main/MainPresenter.kt
  android/app/src/main/res/layout/fragment_main.xml
  android/app/src/main/res/values/styles.xml
Labels: Android

#255 Android: Update profile page
  android/app/src/main/java/com/bounswe2020group3/paperlayer/profile/ProfileFragment.kt
  android/app/src/main/res/drawable-xxxhdpi/ic_user.jpg
  android/app/src/main/res/drawable/gradient.xml
  android/app/src/main/res/layout/fragment_profile.xml
  android/app/src/main/res/values/colors.xml
  android/app/src/main/res/values/dimens.xml
  android/app/src/main/res/values/strings.xml
Labels: Android

#264 'middle_name' field on register is now optional
  backend/api/serializers/auth.py
Labels: Backend, Priority: High, Type: Bug

#266 Added django_filters for easy filtering
  backend/api/views/profile.py
  backend/api/views/project.py
  backend/backend/settings.py
  backend/poetry.lock
  backend/pyproject.toml
Labels: Backend, Priority: High, Status: Review Needed, dependencies

#267 Events implementation
  backend/api/admin.py
  backend/api/migrations/0004_event.py
  backend/api/migrations/0005_auto_20201121_1503.py
  backend/api/migrations/0006_auto_20201121_1551.py
  backend/api/migrations/0007_auto_20201121_1658.py
  backend/api/models/event.py
  backend/api/models/project.py
  backend/api/serializers/event.py
  backend/api/serializers/project.py
  backend/api/urls.py
  backend/api/views/event.py
Labels: Backend, Priority: High, Status: Review Needed, Type: Enhancement

#270 Events field of project is now optional
  backend/api/models/project.py
Labels: Backend, Status: Review Needed, Type: Bug

#276 Added 'event_type' filter
  backend/api/views/event.py
Labels: Backend, Priority: Medium, Status: Review Needed, Type: Enhancement

#278 Aws deployment for backend repo
  .github/workflows/backend-aws-cd.yml
  backend/Dockerfile
  backend/docker-compose.yml
  backend/task-definition.json
Labels: Backend, Priority: High, Status: In Progress, Type: Enhancement

#277 Fe event create
  front-end/src/App.js
  front-end/src/Views/CreateEventPage.js
  front-end/src/config.js
Labels: Frontend, Priority: Medium, Status: Review Needed, Type: Enhancement

#269 Connecting register page to backend
  android/app/src/main/java/com/bounswe2020group3/paperlayer/register/CreateUserService.kt
  android/app/src/main/java/com/bounswe2020group3/paperlayer/register/RegisterContract.kt
  android/app/src/main/java/com/bounswe2020group3/paperlayer/register/RegisterFragment.kt
  android/app/src/main/java/com/bounswe2020group3/paperlayer/register/RegisterModel.kt
  android/app/src/main/java/com/bounswe2020group3/paperlayer/register/RegisterPresenter.kt
  android/app/src/main/java/com/bounswe2020group3/paperlayer/register/data/Register.kt
  android/app/src/main/res/layout/fragment_register.xml
Labels: Android

#280 Issue190 project page
  front-end/src/Views/CreateProjectPage.js
Labels: Frontend, Priority: Medium, Status: Review Needed, Type: Enhancement

#258 Create profile edit page
  android/app/build.gradle
  android/app/src/main/java/com/bounswe2020group3/paperlayer/MainActivity.kt
  android/app/src/main/java/com/bounswe2020group3/paperlayer/profile/ProfileContract.kt
  android/app/src/main/java/com/bounswe2020group3/paperlayer/profile/ProfileFragment.kt
  android/app/src/main/java/com/bounswe2020group3/paperlayer/profile/ProfileModel.kt
  android/app/src/main/java/com/bounswe2020group3/paperlayer/profile/ProfilePresenter.kt
  android/app/src/main/java/com/bounswe2020group3/paperlayer/profile/data/Profile.kt
  android/app/src/main/java/com/bounswe2020group3/paperlayer/profile/edit/ProfileEditContract.kt
  android/app/src/main/java/com/bounswe2020group3/paperlayer/profile/edit/ProfileEditFragment.kt
  android/app/src/main/java/com/bounswe2020group3/paperlayer/profile/edit/ProfileEditPresenter.kt
  android/app/src/main/res/drawable-mdpi/ic_avatar.png
  android/app/src/main/res/drawable-xxxhdpi/ic_user.jpg
  android/app/src/main/res/drawable/gradient.xml
  android/app/src/main/res/drawable/ic_baseline_check_24.xml
  android/app/src/main/res/drawable/ic_baseline_settings_24.xml
  android/app/src/main/res/layout/fragment_profile.xml
  android/app/src/main/res/layout/fragment_profile_edit.xml
  android/app/src/main/res/navigation/main_navigation.xml
  android/app/src/main/res/values/colors.xml
  android/app/src/main/res/values/strings.xml
Labels: Android

#274 Milestone improvements
  backend/api/migrations/0001_initial.py
  backend/api/migrations/0002_auto_20201114_1625.py
  backend/api/migrations/0002_auto_20201121_2147.py
  backend/api/migrations/0003_auto_20201115_2248.py
  backend/api/migrations/0005_auto_20201121_1503.py
  backend/api/migrations/0006_auto_20201121_1551.py
  backend/api/migrations/0007_auto_20201121_1658.py
  backend/api/models/profile.py
  backend/api/serializers/profile.py
  backend/api/serializers/user.py
  backend/backend/settings.py
  backend/backend/tests.py
  backend/backend/tests/__init__.py
  backend/backend/tests/test_profile.py
  backend/backend/tests/test_project.py
Labels: Backend, Priority: High, Type: Enhancement

#284 Milestone improvements
  backend/api/migrations/0001_initial.py
  backend/api/migrations/0002_auto_20201121_2147.py
  backend/api/migrations/0008_auto_20201121_2214.py
Labels: Backend, Priority: Critical

#288 Navbar
  front-end/public/index.html
  front-end/src/App.js
  front-end/src/Components/Auth/Authenticate.js
  front-end/src/Components/TopBar/UserNavbar.js
  front-end/src/Views/CreateEventPage.js
  front-end/src/Views/CreateProjectPage.js
  front-end/src/Views/HomePage.js
  front-end/src/Views/LoginPage.js
  front-end/src/Views/ProfilePage.js
  front-end/src/config.js
Labels: Frontend, Priority: Medium, Type: Enhancement

#283 api url fix
  front-end/src/config.js
Labels: Frontend, Priority: Critical

#287 Add paper layer logo in main page and app icon
  android/app/src/main/AndroidManifest.xml
  android/app/src/main/ic_paper_plane-playstore.png
  android/app/src/main/res/drawable-v24/ic_paper_plane.png
  android/app/src/main/res/layout/fragment_login.xml
  android/app/src/main/res/layout/fragment_main.xml
  android/app/src/main/res/mipmap-anydpi-v26/ic_paper_plane.xml
  android/app/src/main/res/mipmap-anydpi-v26/ic_paper_plane_round.xml
  android/app/src/main/res/mipmap-hdpi/ic_paper_plane.png
  android/app/src/main/res/mipmap-hdpi/ic_paper_plane_foreground.png
  android/app/src/main/res/mipmap-hdpi/ic_paper_plane_round.png
  android/app/src/main/res/mipmap-mdpi/ic_paper_plane.png
  android/app/src/main/res/mipmap-mdpi/ic_paper_plane_foreground.png
  android/app/src/main/res/mipmap-mdpi/ic_paper_plane_round.png
  android/app/src/main/res/mipmap-xhdpi/ic_paper_plane.png
  android/app/src/main/res/mipmap-xhdpi/ic_paper_plane_foreground.png
  android/app/src/main/res/mipmap-xhdpi/ic_paper_plane_round.png
  android/app/src/main/res/mipmap-xxhdpi/ic_paper_plane.png
  android/app/src/main/res/mipmap-xxhdpi/ic_paper_plane_foreground.png
  android/app/src/main/res/mipmap-xxhdpi/ic_paper_plane_round.png
  android/app/src/main/res/mipmap-xxxhdpi/ic_paper_plane.png
  android/app/src/main/res/mipmap-xxxhdpi/ic_paper_plane_foreground.png
  android/app/src/main/res/mipmap-xxxhdpi/ic_paper_plane_round.png
  android/app/src/main/res/values/ic_paper_plane_background.xml
  android/app/src/main/res/values/strings.xml
Labels: Android

#289 logo added to navbar
  front-end/public/index.html
  front-end/public/paperlayer48_48.png
  front-end/src/Components/TopBar/PrimarySearchAppBar.js
  front-end/src/Components/TopBar/UserNavbar.js
  front-end/src/logo.svg
  front-end/src/navbarlogo.png
  front-end/src/paper-plane.png
Labels: Frontend, Priority: Medium, Status: Completed :100:, Type: Enhancement

#290 Android: Configure dagger
  android/app/src/main/java/com/bounswe2020group3/paperlayer/MainActivity.kt
  android/app/src/main/java/com/bounswe2020group3/paperlayer/dagger/AppComponent.kt
  android/app/src/main/java/com/bounswe2020group3/paperlayer/dagger/NetworkModule.kt
  android/app/src/main/java/com/bounswe2020group3/paperlayer/dagger/ProfileModule.kt
  android/app/src/main/java/com/bounswe2020group3/paperlayer/mvp/BasePresenter.kt
  android/app/src/main/java/com/bounswe2020group3/paperlayer/mvp/Mvp.kt
  android/app/src/main/java/com/bounswe2020group3/paperlayer/profile/ProfileContract.kt
  android/app/src/main/java/com/bounswe2020group3/paperlayer/profile/ProfileFragment.kt
  android/app/src/main/java/com/bounswe2020group3/paperlayer/profile/ProfileModel.kt
  android/app/src/main/java/com/bounswe2020group3/paperlayer/profile/ProfilePresenter.kt
  android/app/src/main/java/com/bounswe2020group3/paperlayer/profile/edit/ProfileEditContract.kt
  android/app/src/main/java/com/bounswe2020group3/paperlayer/profile/edit/ProfileEditFragment.kt
  android/app/src/main/java/com/bounswe2020group3/paperlayer/profile/edit/ProfileEditPresenter.kt
Labels: Android

#234 Project Page
  front-end/src/Views/ProjectPage.js
  front-end/src/config.js
Labels: Frontend, Priority: Medium, Status: Review Needed, Type: Enhancement

#292 Create project creation page
  android/app/src/main/java/com/bounswe2020group3/paperlayer/network/RetrofitProvider.kt
  android/app/src/main/java/com/bounswe2020group3/paperlayer/profile/ProfileModel.kt
  android/app/src/main/java/com/bounswe2020group3/paperlayer/project/ProjectMainContract.kt
  android/app/src/main/java/com/bounswe2020group3/paperlayer/project/ProjectMainFragment.kt
  android/app/src/main/java/com/bounswe2020group3/paperlayer/project/ProjectMainPresenter.kt
  android/app/src/main/java/com/bounswe2020group3/paperlayer/projectCreate/ProjectCreateContract.kt
  android/app/src/main/java/com/bounswe2020group3/paperlayer/projectCreate/ProjectCreateFragment.kt
  android/app/src/main/java/com/bounswe2020group3/paperlayer/projectCreate/ProjectCreateModel.kt
  android/app/src/main/java/com/bounswe2020group3/paperlayer/projectCreate/ProjectCreatePresenter.kt
  android/app/src/main/java/com/bounswe2020group3/paperlayer/projectCreate/ProjectCreateRequest.kt
  android/app/src/main/java/com/bounswe2020group3/paperlayer/projectCreate/ProjectCreateResponse.kt
  android/app/src/main/java/com/bounswe2020group3/paperlayer/projectCreate/ProjectState.kt
  android/app/src/main/java/com/bounswe2020group3/paperlayer/projectCreate/ProjectType.kt
  android/app/src/main/java/com/bounswe2020group3/paperlayer/util/Constants.kt
  android/app/src/main/res/drawable-v24/ic_add_project.png
  android/app/src/main/res/drawable-v24/ic_calendar.png
  android/app/src/main/res/drawable-v24/ic_success.png
  android/app/src/main/res/drawable/border_with_corner_radius.xml
  android/app/src/main/res/layout/fragment_project_create.xml
  android/app/src/main/res/layout/fragment_project_main.xml
  android/app/src/main/res/layout/spinner_item.xml
  android/app/src/main/res/navigation/main_navigation.xml
  android/app/src/main/res/values/strings.xml
  android/app/src/main/res/values/styles.xml
Labels: Android, Priority: Critical

#295 Issue #250 home page
  front-end/src/Views/HomePage.js
  front-end/src/config.js
Labels: Frontend, Status: Review Needed, Type: Enhancement

#294 event page
  front-end/src/Views/EventPage.js
Labels: Frontend, Status: Review Needed, Type: Enhancement

#297 Issue #296 profile page
  front-end/src/Views/ProfilePage.js
  front-end/src/config.js
Labels: Frontend, Status: Review Needed, Type: Enhancement

#298 modified the style of homepage
  front-end/src/Views/HomePage.js
Labels: Frontend

#306 localhost deleted
  front-end/src/Components/Auth/Authenticate.js
Labels: Frontend, Priority: Critical

#309 home page styling changed
  front-end/src/Views/HomePage.js
Labels: Frontend

#316 Add dependency injection to project create page
  android/app/src/main/java/com/bounswe2020group3/paperlayer/dagger/AppComponent.kt
  android/app/src/main/java/com/bounswe2020group3/paperlayer/dagger/ProjectCreateModule.kt
  android/app/src/main/java/com/bounswe2020group3/paperlayer/projectCreate/ProjectCreateContract.kt
  android/app/src/main/java/com/bounswe2020group3/paperlayer/projectCreate/ProjectCreateFragment.kt
  android/app/src/main/java/com/bounswe2020group3/paperlayer/projectCreate/ProjectCreateModel.kt
  android/app/src/main/java/com/bounswe2020group3/paperlayer/projectCreate/ProjectCreatePresenter.kt
Labels: Android, Priority: High

#313 task-definition and Dockerfile configuration added
  .github/workflows/frontend-aws-cd.yml
  front-end/Dockerfile
  front-end/nginx/nginx.conf
  front-end/package-lock.json
  front-end/task-definition.json
Labels: Frontend, Priority: High, Status: In Progress, Type: Enhancement
