Repository bounswe/bounswe2020group3, pull requests merged in 2020-12, with the labels that each got.

#302 Backend file improvements
  backend/backend/tests/test_file.py
Labels: Backend, Priority: Low

#330 Backend secrets
  backend/backend/settings.py
  backend/task-definition.json
Labels: Backend, Priority: Critical, Status: In Progress, Type: Enhancement

#322 Milestone test
  backend/api/tests/test_milestone.py
Labels: Type: Test

#341 Layout partially done - profile not done yet
  front-end/src/App.css
  front-end/src/Components/ProfileBar/Profilebar.js
  front-end/src/Views/HomePage.js
  front-end/src/Views/ProfilePage.js
  front-end/src/index.scss
Labels: Frontend, Priority: Medium, Status: In Progress, Type: Enhancement

#334 dagger implementation done on register fragment
  android/app/src/main/java/com/bounswe2020group3/paperlayer/dagger/AppComponent.kt
  android/app/src/main/java/com/bounswe2020group3/paperlayer/dagger/RegisterModule.kt
  android/app/src/main/java/com/bounswe2020group3/paperlayer/register/RegisterContract.kt
  android/app/src/main/java/com/bounswe2020group3/paperlayer/register/RegisterFragment.kt
  android/app/src/main/java/com/bounswe2020group3/paperlayer/register/RegisterModel.kt
  android/app/src/main/java/com/bounswe2020group3/paperlayer/register/RegisterPresenter.kt
Labels: Android

#343 Issue 331 milestones on homepage
  front-end/src/Views/HomePage.js
  front-end/src/config.js
Labels: Frontend, Priority: Medium, Status: Review Needed, Type: Enhancement

#344 Layout changes
  front-end/src/Views/ProfilePage.js
Labels: Frontend, Priority: Medium, Status: In Progress, Type: Enhancement

#349 Collaboration fix
  backend/api/migrations/0002_auto_20201204_1708.py
  backend/api/migrations/0002_collaborationrequest.py
  backend/api/migrations/0003_auto_20201206_1712.py
  backend/api/migrations/0004_merge_20201206_1815.py
  backend/api/migrations/0005_auto_20201206_2024.py
  backend/api/migrations/0006_auto_20201206_2025.py
  backend/api/migrations/0007_auto_20201206_2026.py
  backend/api/migrations/0008_auto_20201206_2028.py
  backend/api/models/collaboration_request.py
  backend/api/models/project.py
  backend/api/models/tag.py
  backend/api/permission.py
  backend/api/serializers/collaboration_request.py
  backend/api/serializers/file.py
  backend/api/serializers/milestone.py
  backend/api/serializers/project.py
  backend/api/serializers/tag.py
  backend/api/urls.py
  backend/api/views/collaboration_request.py
  backend/api/views/project.py
  backend/backend/tests/test_collaboration_request.py
  backend/backend/tests/test_file.py
  backend/docker-compose.yml
Labels: Backend, Priority: High, Status: In Progress, Type: Enhancement

#351 Backend profile picture
  backend/api/migrations/0009_auto_20201208_1543.py
  backend/api/models/profile.py
  backend/api/serializers/profile.py
  backend/api/views/profile.py
  backend/backend/tests/test_profile.py
  backend/poetry.lock
  backend/pyproject.toml
Labels: Backend, Priority: Medium, Status: Review Needed, Type: Enhancement

#362 [Android] Refactor project create according to new request
  android/app/src/main/java/com/bounswe2020group3/paperlayer/projectCreate/ProjectCreateFragment.kt
  android/app/src/main/java/com/bounswe2020group3/paperlayer/projectCreate/ProjectCreateRequest.kt
Labels: Android, Priority: High, Status: Review Needed

#371 Members won't be modified with POST, PUT, PATCH requests
  backend/api/migrations/0010_merge_20201213_0009.py
  backend/api/serializers/project.py
Labels: Backend, Priority: Medium, Type: Enhancement

#364 Azure deployment
  .github/workflows/backend-aws-cd.yml
  .github/workflows/backend-azure-cd.yml
  .github/workflows/frontend-aws-cd.yml
  .github/workflows/frontend-azure-cd.yml
  backend/backend/settings.py
  backend/backend/swagger_api.py
  backend/pyproject.toml
Labels: Backend, Priority: Critical, Status: In Progress, Type: Enhancement

#358 Fixed small errors: Add tag color, birthday
  backend/api/migrations/0009_auto_20201209_1436.py
  backend/api/migrations/0010_merge_20201214_2048.py
  backend/api/migrations/0011_auto_20201214_2048.py
  backend/api/models/profile.py
  backend/api/models/tag.py
  backend/api/serializers/profile.py
Labels: Status: Review Needed

#365 Backend file deletion and update
  backend/api/migrations/0010_auto_20201208_1725.py
  backend/api/migrations/0011_auto_20201208_1727.py
  backend/api/migrations/0012_auto_20201208_1730.py
  backend/api/models/file.py
  backend/api/models/profile.py
  backend/api/views/file.py
  backend/api/views/profile.py
Labels: Backend, Priority: Medium, Status: Review Needed, Type: Enhancement

#360 Implemented private instances and private fields
  backend/api/migrations/0010_profile_is_public.py
  backend/api/models/profile.py
  backend/api/permission.py
  backend/api/serializers/profile.py
  backend/api/serializers/project.py
  backend/api/serializers/user.py
  backend/api/views/file.py
  backend/api/views/profile.py
  backend/api/views/project.py
  backend/api/views/user.py
Labels: Backend, Priority: High, Status: In Progress, Status: Review Needed, Type: Enhancement

#367 Issue345-Project Page Layout
  front-end/src/Views/ProjectPage.js
Labels: Frontend, Status: Review Needed, Type: Enhancement

#379 Backend-Fixing mistakes of one of latest merges
  backend/api/serializers/profile.py
  backend/api/views/file.py
Labels: Backend, Type: Bug

#376 Profile privacy
  front-end/package-lock.json
  front-end/package.json
  front-end/src/Views/ProfilePage.js
Labels: Frontend, Priority: Medium, Status: Review Needed

#381 Fixed migration errors and small error in file view
  backend/api/migrations/0010_auto_20201208_1725.py
  backend/api/migrations/0010_profile_is_public.py
  backend/api/migrations/0011_auto_20201208_1727.py
  backend/api/migrations/0012_auto_20201208_1730.py
  backend/api/migrations/0012_auto_20201215_1844.py
  backend/api/views/file.py
Labels: Backend, Priority: High, Type: Bug

#382 Backend follow system
  backend/api/admin.py
  backend/api/migrations/0009_auto_20201212_1633.py
  backend/api/migrations/0010_auto_20201212_1717.py
  backend/api/migrations/0013_merge_20201215_2314.py
  backend/api/models/following.py
  backend/api/permission.py
  backend/api/serializers/following.py
  backend/api/serializers/user.py
  backend/api/urls.py
  backend/api/views/following.py
  backend/backend/settings.py
Labels: Priority: High, Status: Review Needed, Type: Enhancement

#386 Implement project edit
  android/app/src/main/java/com/bounswe2020group3/paperlayer/dagger/AppComponent.kt
  android/app/src/main/java/com/bounswe2020group3/paperlayer/dagger/ProjectEditModule.kt
  android/app/src/main/java/com/bounswe2020group3/paperlayer/project/ProjectContract.kt
  android/app/src/main/java/com/bounswe2020group3/paperlayer/project/ProjectFragment.kt
  android/app/src/main/java/com/bounswe2020group3/paperlayer/project/ProjectMainPresenter.kt
  android/app/src/main/java/com/bounswe2020group3/paperlayer/project/ProjectPresenter.kt
  android/app/src/main/java/com/bounswe2020group3/paperlayer/project/data/Event.kt
  android/app/src/main/java/com/bounswe2020group3/paperlayer/project/data/Milestone.kt
  android/app/src/main/java/com/bounswe2020group3/paperlayer/project/data/Profile.kt
  android/app/src/main/java/com/bounswe2020group3/paperlayer/project/data/Project.kt
  android/app/src/main/java/com/bounswe2020group3/paperlayer/project/data/Tag.kt
  android/app/src/main/java/com/bounswe2020group3/paperlayer/project/data/User.kt
  android/app/src/main/java/com/bounswe2020group3/paperlayer/projectCreate/ProjectCreateContract.kt
  android/app/src/main/java/com/bounswe2020group3/paperlayer/projectCreate/ProjectCreateFragment.kt
  android/app/src/main/java/com/bounswe2020group3/paperlayer/projectCreate/ProjectCreatePresenter.kt
  android/app/src/main/java/com/bounswe2020group3/paperlayer/projectCreate/ProjectState.kt
  android/app/src/main/java/com/bounswe2020group3/paperlayer/projectCreate/ProjectType.kt
  android/app/src/main/java/com/bounswe2020group3/paperlayer/projectEdit/ProjectEditContract.kt
  android/app/src/main/java/com/bounswe2020group3/paperlayer/projectEdit/ProjectEditFragment.kt
  android/app/src/main/java/com/bounswe2020group3/paperlayer/projectEdit/ProjectEditModel.kt
  android/app/src/main/java/com/bounswe2020group3/paperlayer/projectEdit/ProjectEditPresenter.kt
  android/app/src/main/java/com/bounswe2020group3/paperlayer/projectEdit/ProjectEditRequest.kt
  android/app/src/main/java/com/bounswe2020group3/paperlayer/projectEdit/ProjectEditResponse.kt
  android/app/src/main/res/layout/fragment_project.xml
  android/app/src/main/res/layout/fragment_project_edit.xml
  android/app/src/main/res/navigation/main_navigation.xml
  android/app/src/main/res/values/strings.xml
Labels: Android, Priority: High

#391 Backend user contains profile
  backend/api/serializers/user.py
Labels: Backend

#392 User contains profile info
  backend/api/permission.py
  backend/api/serializers/profile.py
  backend/api/serializers/user.py
  backend/api/views/profile.py
  backend/api/views/user.py
Labels: Backend, Priority: High, Status: Review Needed, Type: Enhancement

#394 Search implementation w/ semantic capabilities
  backend/api/serializers/search.py
  backend/api/urls.py
  backend/api/views/search.py
  backend/poetry.lock
  backend/pyproject.toml
Labels: Backend, Priority: Medium, Status: Review Needed, Type: Enhancement

#393 Milestone update
  backend/api/migrations/0015_auto_20201219_1124.py
  backend/api/models/milestone.py
  backend/api/tests/test_milestone.py
  backend/api/views/milestone.py
  backend/backend/tests/test_milestone.py
  backend/media/files/test_file.txt
Labels: Backend, Priority: Medium, Status: In Progress, Type: Enhancement

#396 Profile milestones
  front-end/src/App.js
  front-end/src/Views/HomePage.js
  front-end/src/Views/ProfilePage.js
  front-end/src/Views/ProjectPage.js
  front-end/src/config.js
Labels: Frontend, Priority: Medium, Status: Completed :100:, Type: Enhancement

#398 Update ProfilePage.js
  front-end/src/Views/ProfilePage.js
Labels: Frontend, Priority: Medium, Status: Review Needed, Type: Enhancement

#399 Update EventPage.js
  front-end/src/Views/EventPage.js
Labels: Frontend, Priority: Medium, Status: Review Needed, Type: Enhancement

#401 Photo refresh in profile, console.logs removed
  front-end/src/Views/LoginPage.js
Labels: Frontend, Priority: Medium, Type: Enhancement

#402 profile urls changed to profile/{id}
  front-end/src/Views/CreateEventPage.js
  front-end/src/Views/CreateProjectPage.js
  front-end/src/Views/EventPage.js
  front-end/src/Views/ProfilePage.js
Labels: Frontend, Priority: Medium, Type: Enhancement

#400 Profile priv
  front-end/src/Views/EventPage.js
  front-end/src/Views/ProfilePage.js
  front-end/src/Views/ProjectPage.js
Labels: Frontend, Priority: Medium, Type: Enhancement

#404 Projects listed in Profile
  front-end/src/Views/ProfilePage.js
Labels: Frontend, Priority: Medium, Status: Completed :100:, Type: Enhancement

#406 Create milestone
  front-end/src/App.js
  front-end/src/Components/Date/DateComponent.js
  front-end/src/Views/HomePage.js
  front-end/src/Views/IssueMilestonePage.js
  front-end/src/Views/ProjectPage.js
  front-end/src/config.js
Labels: Frontend, Priority: Medium, Status: Completed :100:, Type: Enhancement

#411 Fixed bug in permissions
  backend/api/permission.py
  backend/backend/tests/test_collaboration_invite.py
Labels: Priority: High, Status: Review Needed, Type: Bug

#422 Update navigation flow
  android/app/src/main/java/com/bounswe2020group3/paperlayer/MainActivity.kt
  android/app/src/main/java/com/bounswe2020group3/paperlayer/home/EventFragment.kt
  android/app/src/main/java/com/bounswe2020group3/paperlayer/main/MainFragment.kt
  android/app/src/main/res/menu/bottom_nav_menu.xml
  android/app/src/main/res/navigation/main_navigation.xml
Labels: Android

#424 Android - Update pages related to profile and user
  android/app/src/main/java/com/bounswe2020group3/paperlayer/profile/ProfileContract.kt
  android/app/src/main/java/com/bounswe2020group3/paperlayer/profile/ProfileFragment.kt
  android/app/src/main/java/com/bounswe2020group3/paperlayer/profile/ProfileModel.kt
  android/app/src/main/java/com/bounswe2020group3/paperlayer/profile/edit/ProfileEditFragment.kt
  android/app/src/main/java/com/bounswe2020group3/paperlayer/profile/user/UserFragment.kt
  android/app/src/main/res/layout/fragment_profile.xml
  android/app/src/main/res/layout/fragment_profile_edit.xml
  android/app/src/main/res/layout/fragment_user.xml
  android/app/src/main/res/values/strings.xml
Labels: Android, Priority: Critical

#425 Profile needs Json data instead of Form data
  backend/api/views/profile.py
Labels: Backend, Priority: Critical, Status: In Progress, Type: Bug

#420 Backend follow system --issues fixed
  backend/api/serializers/following.py
  backend/api/views/following.py
Labels: Backend, Priority: Critical

#413 Added owner to members
  backend/api/views/project.py
  backend/backend/tests/test_project.py
Labels: Backend, Status: Review Needed, Type: Enhancement

#428 Fixed guest user search error
  backend/api/views/search.py
Labels: Backend, Priority: High, Status: Review Needed, Type: Bug

#435 Backend follow serializers
  backend/api/serializers/following.py
  backend/api/serializers/user.py
  backend/api/utils.py
  backend/api/views/following.py
  backend/api/views/user.py
Labels: Backend, Priority: High, Status: Review Needed

#437 Update user serializer
  backend/api/serializers/user.py
  backend/api/utils.py
Labels: Backend, Priority: High, Status: Review Needed

#434 Backend - profile_picture endpoints
  backend/api/serializers/profile.py
  backend/api/urls.py
  backend/api/views/profile.py
  backend/backend/tests/test_profile.py
  backend/media/pp/lacivert.png
Labels: Backend, Priority: Medium, Status: Review Needed, Type: Enhancement

#442 Refactor project model and delete unnecessary classes
  android/app/src/main/java/com/bounswe2020group3/paperlayer/dagger/ProjectModule.kt
  android/app/src/main/java/com/bounswe2020group3/paperlayer/home/data/Project.kt
  android/app/src/main/java/com/bounswe2020group3/paperlayer/project/ProjectDetailContract.kt
  android/app/src/main/java/com/bounswe2020group3/paperlayer/project/ProjectDetailFragment.kt
  android/app/src/main/java/com/bounswe2020group3/paperlayer/project/ProjectDetailPresenter.kt
  android/app/src/main/java/com/bounswe2020group3/paperlayer/project/ProjectModel.kt
  android/app/src/main/java/com/bounswe2020group3/paperlayer/project/ProjectsContract.kt
  android/app/src/main/java/com/bounswe2020group3/paperlayer/project/ProjectsFragment.kt
  android/app/src/main/java/com/bounswe2020group3/paperlayer/project/ProjectsPresenter.kt
  android/app/src/main/java/com/bounswe2020group3/paperlayer/project/data/Project.kt
  android/app/src/main/java/com/bounswe2020group3/paperlayer/projectCreate/ProjectCreateContract.kt
  android/app/src/main/java/com/bounswe2020group3/paperlayer/projectCreate/ProjectCreateModel.kt
  android/app/src/main/java/com/bounswe2020group3/paperlayer/projectCreate/ProjectCreateResponse.kt
  android/app/src/main/java/com/bounswe2020group3/paperlayer/projectEdit/ProjectEditContract.kt
  android/app/src/main/java/com/bounswe2020group3/paperlayer/projectEdit/ProjectEditModel.kt
  android/app/src/main/java/com/bounswe2020group3/paperlayer/projectEdit/ProjectEditResponse.kt
Labels: Android, Priority: High

#447 Backend project and profile fixes
  backend/api/serializers/project.py
  backend/api/views/profile.py
Labels: Priority: Low, Status: Review Needed, Type: Bug, Type: Enhancement

#444 Implemented Rating and Comment
  backend/api/admin.py
  backend/api/migrations/0016_auto_20201221_2047.py
  backend/api/models/comment.py
  backend/api/models/rating.py
  backend/api/permission.py
  backend/api/serializers/comment.py
  backend/api/serializers/profile.py
  backend/api/serializers/rating.py
  backend/api/urls.py
  backend/api/utils.py
  backend/api/views/comment.py
  backend/api/views/project.py
  backend/api/views/rating.py
Labels: Backend, Priority: Medium, Status: Review Needed, Type: Enhancement

#421 Edit Project Page Done!!!
  front-end/src/App.js
  front-end/src/Views/EditProfilePage.js
  front-end/src/Views/EditProjectPage.js
  front-end/src/Views/ProfilePage.js
  front-end/src/Views/ProjectPage.js
  front-end/src/config.js
Labels: Frontend, Priority: High, Status: In Progress, Type: Enhancement

#451 Implemented filters for search
  backend/api/serializers/search.py
  backend/api/views/search.py
Labels: Backend, Priority: Medium, Status: Review Needed, Type: Enhancement

#460 Fixed POST serializer for Android
  backend/api/admin.py
  backend/api/models/collaboration_request.py
  backend/api/serializers/collaboration_request.py
  backend/api/views/collaboration_request.py
Labels: Priority: High, Status: Review Needed, Type: Enhancement

#466 Added multiple request checks and id
  backend/api/views/collaboration_request.py
Labels: Backend, Priority: High, Type: Bug

#468 added id field for follow
  backend/api/serializers/following.py
Labels: Backend, Priority: Low

#469 Backend - Fix unfollow logic
  backend/api/views/following.py
Labels: Backend, Type: Bug

#470 Android - Implement follow actions
  android/app/src/main/java/com/bounswe2020group3/paperlayer/MainActivity.kt
  android/app/src/main/java/com/bounswe2020group3/paperlayer/data/follow/Follow.kt
  android/app/src/main/java/com/bounswe2020group3/paperlayer/data/follow/FollowRequest.kt
  android/app/src/main/java/com/bounswe2020group3/paperlayer/data/follow/ListableFollow.kt
  android/app/src/main/java/com/bounswe2020group3/paperlayer/data/user/Profile.kt
  android/app/src/main/java/com/bounswe2020group3/paperlayer/profile/ProfileFragment.kt
  android/app/src/main/java/com/bounswe2020group3/paperlayer/profile/follow/FollowContract.kt
  android/app/src/main/java/com/bounswe2020group3/paperlayer/profile/follow/FollowListAdapter.kt
  android/app/src/main/java/com/bounswe2020group3/paperlayer/profile/follow/FollowListFragment.kt
  android/app/src/main/java/com/bounswe2020group3/paperlayer/profile/follow/FollowListPresenter.kt
  android/app/src/main/java/com/bounswe2020group3/paperlayer/profile/follow/FollowModel.kt
  android/app/src/main/java/com/bounswe2020group3/paperlayer/profile/follow/FollowType.kt
  android/app/src/main/java/com/bounswe2020group3/paperlayer/profile/user/UserFragment.kt
  android/app/src/main/res/drawable-anydpi/ic_group_white.xml
  android/app/src/main/res/drawable-anydpi/ic_notification_white.xml
  android/app/src/main/res/drawable-hdpi/ic_group_white.png
  android/app/src/main/res/drawable-hdpi/ic_notification_white.png
  android/app/src/main/res/drawable-mdpi/ic_group_white.png
  android/app/src/main/res/drawable-mdpi/ic_notification_white.png
  android/app/src/main/res/drawable-xhdpi/ic_group_white.png
  android/app/src/main/res/drawable-xhdpi/ic_notification_white.png
  android/app/src/main/res/drawable-xxhdpi/ic_group_white.png
  android/app/src/main/res/drawable-xxhdpi/ic_notification_white.png
  android/app/src/main/res/layout/activity_main.xml
  android/app/src/main/res/layout/fragment_follow_item.xml
  android/app/src/main/res/layout/fragment_follow_list.xml
  android/app/src/main/res/layout/fragment_profile.xml
  android/app/src/main/res/menu/top_options_menu.xml
  android/app/src/main/res/navigation/main_navigation.xml
  android/app/src/main/res/values/themes.xml
Labels: Android, Priority: High, Status: Review Needed, Type: Enhancement

#472 Android profile picture
  android/app/src/main/AndroidManifest.xml
  android/app/src/main/java/com/bounswe2020group3/paperlayer/profile/ProfileContract.kt
  android/app/src/main/java/com/bounswe2020group3/paperlayer/profile/ProfileFragment.kt
  android/app/src/main/java/com/bounswe2020group3/paperlayer/profile/ProfileModel.kt
  android/app/src/main/java/com/bounswe2020group3/paperlayer/profile/ProfilePresenter.kt
  android/app/src/main/java/com/bounswe2020group3/paperlayer/profile/user/UserFragment.kt
Labels: Android, Priority: Medium, Type: Enhancement

#456 Front-End Profile edit
  front-end/src/Components/Auth/Authenticate.js
  front-end/src/Components/Date/DateComponent.js
  front-end/src/Views/EditProfilePage.js
  front-end/src/Views/EditProjectPage.js
  front-end/src/Views/EventPage.js
  front-end/src/Views/HomePage.js
  front-end/src/Views/LoginPage.js
  front-end/src/Views/ProfilePage.js
  front-end/src/Views/ProjectPage.js
  front-end/src/config.js
Labels: Frontend, Priority: High, Status: Review Needed, Type: Enhancement, help wanted

#480 Profile-Edit further updates
  front-end/src/Views/EditProfilePage.js
  front-end/src/Views/ProfilePage.js
Labels: Frontend, Priority: Medium, Status: Completed :100:, Type: Enhancement

#465 Milestone update
  backend/api/serializers/project.py
  backend/api/views/milestone.py
  backend/backend/tests/test_milestone.py
  backend/media/files/test_file.txt
  backend/media/pp/lacivert.png
Labels: Backend, Priority: Medium, Status: In Progress, Type: Enhancement

#482 Merge Problem Resolved
  android/app/src/main/java/com/bounswe2020group3/paperlayer/home/HomeContract.kt
  android/app/src/main/java/com/bounswe2020group3/paperlayer/home/HomeModel.kt
  android/app/src/main/java/com/bounswe2020group3/paperlayer/home/MilestonePresenter.kt
  android/app/src/main/java/com/bounswe2020group3/paperlayer/home/RecentProjectsFragment.kt
  android/app/src/main/java/com/bounswe2020group3/paperlayer/home/RecentProjectsPresenter.kt
  android/app/src/main/java/com/bounswe2020group3/paperlayer/home/adaptors/ProjectAdaptor.kt
  android/app/src/main/java/com/bounswe2020group3/paperlayer/home/cards/ProjectUpdateCard.kt
  android/app/src/main/java/com/bounswe2020group3/paperlayer/home/data/CollaborateRequest.kt
  android/app/src/main/java/com/bounswe2020group3/paperlayer/home/data/CollaborationRequest.kt
  android/app/src/main/java/com/bounswe2020group3/paperlayer/project/data/ProjectShort.kt
Labels: Android, Priority: Critical, Status: Completed :100:, Status: Review Needed

#481 Fixed some issues about Comment and profile_picture
  backend/api/models/comment.py
  backend/backend/urls.py
Labels: Backend, Priority: Medium

#463 Tags added to project and homepage
  front-end/src/Common/ColorTheme.js
  front-end/src/Views/HomePage.js
  front-end/src/Views/ProfilePage.js
  front-end/src/Views/ProjectPage.js
Labels: Frontend, Priority: Low, Status: Completed :100:, Type: Enhancement

#479 Fixed search errors
  backend/api/serializers/search.py
  backend/api/views/search.py
Labels: Backend, Priority: High, Status: Review Needed, Type: Bug

#483 Follow update
  backend/api/serializers/user.py
  backend/api/utils.py
  backend/api/views/following.py
Labels: Backend, Priority: Medium, Status: In Progress, Type: Enhancement

#484 Bug-Fix and Slight Style Changes
  front-end/src/Components/Auth/Authenticate.js
  front-end/src/Components/ProfileBar/Profilebar.js
  front-end/src/Views/EditProfilePage.js
  front-end/src/Views/HomePage.js
  front-end/src/Views/ProfilePage.js
  front-end/src/Views/ProjectPage.js
Labels: Frontend, Priority: High, Status: Completed :100:, Type: Enhancement

#485 follow info on the profile page
  front-end/src/Views/ProfilePage.js
  front-end/src/config.js
Labels: Frontend, Priority: Medium, Status: Review Needed, Type: Bug

#488 Android - Updates on profile and follow functionalities
  android/app/src/main/java/com/bounswe2020group3/paperlayer/data/user/User.kt
  android/app/src/main/java/com/bounswe2020group3/paperlayer/profile/ProfileContract.kt
  android/app/src/main/java/com/bounswe2020group3/paperlayer/profile/ProfileFragment.kt
  android/app/src/main/java/com/bounswe2020group3/paperlayer/profile/ProfilePresenter.kt
  android/app/src/main/java/com/bounswe2020group3/paperlayer/profile/edit/ProfileEditContract.kt
  android/app/src/main/java/com/bounswe2020group3/paperlayer/profile/edit/ProfileEditFragment.kt
  android/app/src/main/java/com/bounswe2020group3/paperlayer/profile/edit/ProfileEditPresenter.kt
  android/app/src/main/java/com/bounswe2020group3/paperlayer/profile/follow/FollowContract.kt
  android/app/src/main/java/com/bounswe2020group3/paperlayer/profile/follow/FollowListAdapter.kt
  android/app/src/main/java/com/bounswe2020group3/paperlayer/profile/follow/FollowListFragment.kt
  android/app/src/main/java/com/bounswe2020group3/paperlayer/profile/follow/FollowListPresenter.kt
  android/app/src/main/java/com/bounswe2020group3/paperlayer/profile/follow/FollowModel.kt
  android/app/src/main/java/com/bounswe2020group3/paperlayer/profile/list/UserListAdapter.kt
  android/app/src/main/java/com/bounswe2020group3/paperlayer/profile/user/UserContract.kt
  android/app/src/main/java/com/bounswe2020group3/paperlayer/profile/user/UserFragment.kt
  android/app/src/main/java/com/bounswe2020group3/paperlayer/profile/user/UserPresenter.kt
  android/app/src/main/res/layout/fragment_profile.xml
  android/app/src/main/res/navigation/main_navigation.xml
  android/app/src/main/res/values/strings.xml
Labels: Android, Priority: High, Type: Enhancement

#495 Search page connected to backend.
  android/app/build.gradle
  android/app/src/main/java/com/bounswe2020group3/paperlayer/search/SearchContract.kt
  android/app/src/main/java/com/bounswe2020group3/paperlayer/search/SearchFragment.kt
  android/app/src/main/java/com/bounswe2020group3/paperlayer/search/SearchModel.kt
  android/app/src/main/java/com/bounswe2020group3/paperlayer/search/SearchPresenter.kt
  android/app/src/main/java/com/bounswe2020group3/paperlayer/search/data/Search.kt
  android/app/src/main/java/com/bounswe2020group3/paperlayer/search/data/SearchResponse.kt
  android/app/src/main/res/layout/fragment_search.xml
  android/app/src/main/res/navigation/main_navigation.xml
Labels: Android, Priority: High, Status: Review Needed, Type: Enhancement

#489 Frontend background change
  front-end/.gitignore
  front-end/src/Views/CreateEventPage.js
  front-end/src/Views/CreateProjectPage.js
  front-end/src/Views/EventPage.js
  front-end/src/Views/HomePage.js
  front-end/src/Views/IssueMilestonePage.js
  front-end/src/Views/ProfilePage.js
  front-end/src/Views/ProjectPage.js
Labels: Frontend, Priority: Medium, Type: Enhancement

#490 Improvements on Comment and Rating
  backend/api/serializers/comment.py
  backend/api/serializers/profile.py
  backend/api/utils.py
  backend/api/views/comment.py
Labels: Backend, Priority: Medium

#494 Implemented email verification
  backend/api/serializers/user.py
  backend/api/urls.py
  backend/api/views/auth.py
  backend/backend/settings.py
  backend/poetry.lock
  backend/pyproject.toml
  backend/templates/verification_body.html
  backend/templates/verification_body.txt
  backend/templates/verification_confirm.html
Labels: Backend, Priority: Medium, Status: Review Needed, Type: Enhancement

#496 Android homepage milestones
  android/app/src/main/java/com/bounswe2020group3/paperlayer/home/EventFragment.kt
  android/app/src/main/java/com/bounswe2020group3/paperlayer/home/HomeContract.kt
  android/app/src/main/java/com/bounswe2020group3/paperlayer/home/HomeModel.kt
  android/app/src/main/java/com/bounswe2020group3/paperlayer/home/MilestoneFragment.kt
  android/app/src/main/java/com/bounswe2020group3/paperlayer/home/MilestonePresenter.kt
  android/app/src/main/java/com/bounswe2020group3/paperlayer/home/RecentProjectsFragment.kt
  android/app/src/main/java/com/bounswe2020group3/paperlayer/home/RecentProjectsPresenter.kt
  android/app/src/main/java/com/bounswe2020group3/paperlayer/home/adaptors/MilestoneAdaptor.kt
  android/app/src/main/java/com/bounswe2020group3/paperlayer/home/adaptors/ProjectAdaptor.kt
  android/app/src/main/java/com/bounswe2020group3/paperlayer/home/cards/MilestoneCard.kt
  android/app/src/main/java/com/bounswe2020group3/paperlayer/home/data/Milestone.kt
  android/app/src/main/java/com/bounswe2020group3/paperlayer/home/data/MilestoneListWrapper.kt
  android/app/src/main/res/layout/layout_list_item_milestone.xml
  android/app/src/main/res/layout/layout_list_item_projectupdate.xml
  android/app/src/main/res/navigation/main_navigation.xml
Labels: Android, Priority: High, Status: Completed :100:, Status: Review Needed

#498 Rating Improvements
  backend/api/serializers/profile.py
  backend/api/utils.py
Labels: Backend, Priority: Medium

#499 Implemented changes to project detail page
  android/app/src/main/java/com/bounswe2020group3/paperlayer/dagger/AppComponent.kt
  android/app/src/main/java/com/bounswe2020group3/paperlayer/project/ProjectDetailFragment.kt
  android/app/src/main/java/com/bounswe2020group3/paperlayer/project/ProjectsFragment.kt
  android/app/src/main/res/layout/fragment_project.xml
  android/app/src/main/res/layout/fragment_project_detail.xml
  android/app/src/main/res/layout/fragment_projects.xml
  android/app/src/main/res/navigation/main_navigation.xml
Labels: Android, Priority: High

#500 Passing context to all serializer to prevent errors
  backend/api/views/search.py
Labels: Backend, Priority: High, Status: Review Needed, Type: Bug

#502 Android - Event detail page
  android/app/src/main/java/com/bounswe2020group3/paperlayer/dagger/AppComponent.kt
  android/app/src/main/java/com/bounswe2020group3/paperlayer/dagger/EventModule.kt
  android/app/src/main/java/com/bounswe2020group3/paperlayer/event/EventDetailContract.kt
  android/app/src/main/java/com/bounswe2020group3/paperlayer/event/EventDetailFragment.kt
  android/app/src/main/java/com/bounswe2020group3/paperlayer/event/EventDetailModel.kt
  android/app/src/main/java/com/bounswe2020group3/paperlayer/event/EventDetailPresenter.kt
  android/app/src/main/java/com/bounswe2020group3/paperlayer/mvp/BasePresenter.kt
  android/app/src/main/java/com/bounswe2020group3/paperlayer/search/SearchPresenter.kt
  android/app/src/main/res/layout/fragment_event.xml
  android/app/src/main/res/navigation/main_navigation.xml
  android/app/src/main/res/values/strings.xml
Labels: Android, Priority: High, Status: Review Needed, Type: Enhancement

#504 Changed the collaboration invite post response
  backend/api/models/collaboration_invite.py
  backend/api/serializers/collaboration_invite.py
  backend/api/views/collaboration_invite.py
Labels: Backend, Status: Completed :100:, Type: Enhancement

#505 Added owner_id field to project
  backend/api/serializers/project.py
Labels: Backend, Priority: High, Type: Enhancement

#507 Android event navigation connection
  android/app/src/main/java/com/bounswe2020group3/paperlayer/event/EventDetailPresenter.kt
  android/app/src/main/java/com/bounswe2020group3/paperlayer/home/EventFragment.kt
  android/app/src/main/java/com/bounswe2020group3/paperlayer/home/EventPresenter.kt
  android/app/src/main/java/com/bounswe2020group3/paperlayer/home/adaptors/EventAdaptor.kt
  android/app/src/main/java/com/bounswe2020group3/paperlayer/home/cards/EventCard.kt
  android/app/src/main/java/com/bounswe2020group3/paperlayer/home/data/Event.kt
  android/app/src/main/res/layout/layout_list_item_event.xml
Labels: Android, Priority: High, Status: Completed :100:, Type: Enhancement

#508 Added is_commentable field to profile serializer
  backend/api/serializers/profile.py
Labels: Backend

#506 Invite feature added to the project details' members subpage
  android/app/src/main/java/com/bounswe2020group3/paperlayer/home/MilestonePresenter.kt
  android/app/src/main/java/com/bounswe2020group3/paperlayer/home/RecentProjectsFragment.kt
  android/app/src/main/java/com/bounswe2020group3/paperlayer/home/RecentProjectsPresenter.kt
  android/app/src/main/java/com/bounswe2020group3/paperlayer/invite/InviteContract.kt
  android/app/src/main/java/com/bounswe2020group3/paperlayer/invite/InviteFragment.kt
  android/app/src/main/java/com/bounswe2020group3/paperlayer/invite/InviteModel.kt
  android/app/src/main/java/com/bounswe2020group3/paperlayer/invite/InvitePresenter.kt
  android/app/src/main/java/com/bounswe2020group3/paperlayer/invite/UserInviteAdapter.kt
  android/app/src/main/java/com/bounswe2020group3/paperlayer/project/ProjectDetailFragment.kt
  android/app/src/main/java/com/bounswe2020group3/paperlayer/project/data/ProjectShort.kt
  android/app/src/main/res/layout/fragment_invite.xml
  android/app/src/main/res/layout/fragment_project_detail.xml
  android/app/src/main/res/navigation/main_navigation.xml
Labels: Android, Priority: Medium, Status: Completed :100:, Type: Enhancement

#513 Connection to AWS S3 for files
  backend/api/models/file.py
  backend/api/views/file.py
  backend/api/views/profile.py
  backend/backend/settings.py
  backend/backend/tests/test_file.py
  backend/backend/urls.py
  backend/poetry.lock
  backend/pyproject.toml
Labels: Backend, Priority: Medium, Status: Review Needed, Type: Enhancement

#515 Update poetry.lock
  backend/poetry.lock
Labels: Backend

#510 Android/project details members
  android/app/src/main/java/com/bounswe2020group3/paperlayer/project/MemberCard.kt
  android/app/src/main/java/com/bounswe2020group3/paperlayer/project/MembersAdapter.kt
  android/app/src/main/java/com/bounswe2020group3/paperlayer/project/ProjectDetailContract.kt
  android/app/src/main/java/com/bounswe2020group3/paperlayer/project/ProjectDetailFragment.kt
  android/app/src/main/java/com/bounswe2020group3/paperlayer/project/data/Project.kt
  android/app/src/main/java/com/bounswe2020group3/paperlayer/project/data/Tag.kt
  android/app/src/main/java/com/bounswe2020group3/paperlayer/project/data/User.kt
  android/app/src/main/res/layout/fragment_project_detail.xml
  android/app/src/main/res/layout/layout_list_item_project_member.xml
  android/app/src/main/res/values/colors.xml
  android/app/src/main/res/values/strings.xml
Labels: Android, Priority: High, Status: Review Needed, Type: Enhancement

#514 Added owner_id to profile
  backend/api/serializers/profile.py
Labels: Backend, Priority: High, Status: Review Needed

#512 Error Correction on Collaboration Request
  android/app/src/main/java/com/bounswe2020group3/paperlayer/home/adaptors/ProjectAdaptor.kt
Labels: Android, Priority: Critical, Type: Bug, Type: Enhancement

#517 Sidebar Color is changed
  front-end/src/Components/ProfileBar/Profilebar.js
  front-end/src/Views/EventPage.js
Labels: Frontend, Priority: Medium, Type: Enhancement

#525 Added filter to take milestones of a project
  backend/api/views/milestone.py
Labels: Backend

#519 Project Tags shown in search results. Search Fragment label updated. …
  android/app/src/main/java/com/bounswe2020group3/paperlayer/project/ProjectDetailContract.kt
  android/app/src/main/java/com/bounswe2020group3/paperlayer/project/ProjectDetailFragment.kt
  android/app/src/main/java/com/bounswe2020group3/paperlayer/project/ProjectDetailPresenter.kt
  android/app/src/main/java/com/bounswe2020group3/paperlayer/project/data/Profile.kt
  android/app/src/main/java/com/bounswe2020group3/paperlayer/project/data/Project.kt
  android/app/src/main/java/com/bounswe2020group3/paperlayer/search/SearchAdapter.kt
  android/app/src/main/java/com/bounswe2020group3/paperlayer/search/SearchCard.kt
  android/app/src/main/java/com/bounswe2020group3/paperlayer/search/SearchContract.kt
  android/app/src/main/java/com/bounswe2020group3/paperlayer/search/SearchFragment.kt
  android/app/src/main/java/com/bounswe2020group3/paperlayer/search/SearchPresenter.kt
  android/app/src/main/res/layout/layout_list_item_search.xml
  android/app/src/main/res/navigation/main_navigation.xml
Labels: Android, Priority: High, Status: Review Needed, Type: Enhancement

#532 Android UI updates
  android/app/src/main/java/com/bounswe2020group3/paperlayer/home/RecentProjectsPresenter.kt
  android/app/src/main/java/com/bounswe2020group3/paperlayer/invite/InviteCard.kt
  android/app/src/main/java/com/bounswe2020group3/paperlayer/invite/InviteContract.kt
  android/app/src/main/java/com/bounswe2020group3/paperlayer/invite/InviteFragment.kt
  android/app/src/main/java/com/bounswe2020group3/paperlayer/invite/InvitePresenter.kt
  android/app/src/main/java/com/bounswe2020group3/paperlayer/invite/UserInviteAdapter.kt
  android/app/src/main/java/com/bounswe2020group3/paperlayer/profile/list/UserListAdapter.kt
  android/app/src/main/java/com/bounswe2020group3/paperlayer/project/ProjectDetailFragment.kt
  android/app/src/main/res/layout/fragment_event.xml
  android/app/src/main/res/layout/fragment_login.xml
  android/app/src/main/res/layout/fragment_user_item.xml
  android/app/src/main/res/layout/layout_list_item_invite.xml
  android/app/src/main/res/layout/layout_list_item_project_member.xml
  android/app/src/main/res/navigation/main_navigation.xml
  android/app/src/main/res/values/strings.xml
Labels: Android, Priority: High, Type: Enhancement

#516 Bug fix frontend
  front-end/src/Components/ProfileBar/Profilebar.js
  front-end/src/Views/HomePage.js
  front-end/src/Views/ProfilePage.js
  front-end/src/config.js
Labels: Frontend, Priority: Medium, Status: Completed :100:, Type: Bug

#538 Disabled email verification because of Gmail security problems.
  backend/api/views/auth.py
Labels: Backend, Priority: High, Status: Review Needed, Type: Bug

#536 Frontend Project Milestones
  front-end/src/Views/HomePage.js
  front-end/src/Views/IssueMilestonePage.js
  front-end/src/Views/ProjectPage.js
Labels: Frontend, Priority: High, Type: Enhancement

#531 Create an event button
  front-end/src/Components/ProfileBar/Profilebar.js
  front-end/src/Views/EventPage.js
  front-end/src/Views/HomePage.js
  front-end/src/Views/ProfilePage.js
  front-end/src/Views/ProjectPage.js
Labels: Frontend, Priority: Medium, Status: Review Needed, Type: Enhancement

#509 Profile rating & comment
  front-end/src/Views/ProfilePage.js
Labels: Frontend, Priority: Medium, Status: Completed :100:, Type: Enhancement

#537 Button Removal, and gradient alternatives
  android/app/src/main/java/com/bounswe2020group3/paperlayer/home/EventFragment.kt
  android/app/src/main/java/com/bounswe2020group3/paperlayer/home/adaptors/EventAdaptor.kt
  android/app/src/main/java/com/bounswe2020group3/paperlayer/home/adaptors/MilestoneAdaptor.kt
  android/app/src/main/res/drawable/gradient_item.xml
  android/app/src/main/res/drawable/newgradient.xml
  android/app/src/main/res/layout/fragment_milestones.xml
  android/app/src/main/res/layout/layout_list_item_event.xml
  android/app/src/main/res/layout/layout_list_item_milestone.xml
Labels: Android, Priority: Low, Status: Completed :100:, Type: Enhancement

#540 Search bar
  front-end/src/App.js
  front-end/src/Components/TopBar/UserNavbar.js
  front-end/src/Views/CreateEventPage.js
  front-end/src/Views/CreateProjectPage.js
  front-end/src/Views/EditProfilePage.js
  front-end/src/Views/EditProjectPage.js
  front-end/src/Views/EventPage.js
  front-end/src/Views/HomePage.js
  front-end/src/Views/IssueMilestonePage.js
  front-end/src/Views/ProfilePage.js
  front-end/src/Views/ProjectPage.js
  front-end/src/Views/SearchPage.js
  front-end/src/config.js
Labels: Frontend, Priority: Medium, Status: Review Needed, Type: Enhancement

#541 Frontend event bug fix
  front-end/src/Views/CreateProjectPage.js
  front-end/src/Views/EditProfilePage.js
  front-end/src/Views/EditProjectPage.js
  front-end/src/Views/EventPage.js
  front-end/src/Views/HomePage.js
  front-end/src/Views/ProjectPage.js
  package-lock.json
Labels: Frontend, Priority: High, Status: Completed :100:, Type: Enhancement

#542 Android navigate to user
  android/app/src/main/java/com/bounswe2020group3/paperlayer/invite/InviteCard.kt
  android/app/src/main/java/com/bounswe2020group3/paperlayer/invite/InviteContract.kt
  android/app/src/main/java/com/bounswe2020group3/paperlayer/invite/InviteFragment.kt
  android/app/src/main/java/com/bounswe2020group3/paperlayer/invite/InvitePresenter.kt
  android/app/src/main/java/com/bounswe2020group3/paperlayer/invite/UserInviteAdapter.kt
  android/app/src/main/java/com/bounswe2020group3/paperlayer/project/MemberCard.kt
  android/app/src/main/java/com/bounswe2020group3/paperlayer/project/MembersAdapter.kt
  android/app/src/main/java/com/bounswe2020group3/paperlayer/project/ProjectDetailContract.kt
  android/app/src/main/java/com/bounswe2020group3/paperlayer/project/ProjectDetailFragment.kt
  android/app/src/main/res/layout/fragment_project_detail.xml
  android/app/src/main/res/layout/fragment_projectupdates.xml
  android/app/src/main/res/navigation/main_navigation.xml
Labels: Android, Priority: High, Type: Enhancement

#544 A collaborate button has been added to
  android/app/src/main/java/com/bounswe2020group3/paperlayer/home/HomeContract.kt
  android/app/src/main/java/com/bounswe2020group3/paperlayer/home/RecentProjectsFragment.kt
  android/app/src/main/java/com/bounswe2020group3/paperlayer/home/RecentProjectsPresenter.kt
  android/app/src/main/java/com/bounswe2020group3/paperlayer/home/adaptors/ProjectAdaptor.kt
  android/app/src/main/java/com/bounswe2020group3/paperlayer/home/cards/ProjectUpdateCard.kt
  android/app/src/main/java/com/bounswe2020group3/paperlayer/project/ProjectDetailContract.kt
  android/app/src/main/java/com/bounswe2020group3/paperlayer/project/ProjectDetailFragment.kt
  android/app/src/main/java/com/bounswe2020group3/paperlayer/project/ProjectDetailPresenter.kt
  android/app/src/main/java/com/bounswe2020group3/paperlayer/project/ProjectModel.kt
  android/app/src/main/res/layout/fragment_project_detail.xml
Labels: Status: In Progress, Status: Review Needed, help wanted

#547 Android UI updates
  android/app/src/main/java/com/bounswe2020group3/paperlayer/collaborationRequests/CollabAdaptor.kt
  android/app/src/main/java/com/bounswe2020group3/paperlayer/collaborationRequests/CollabPresenter.kt
  android/app/src/main/java/com/bounswe2020group3/paperlayer/project/MemberCard.kt
  android/app/src/main/java/com/bounswe2020group3/paperlayer/project/MembersAdapter.kt
  android/app/src/main/java/com/bounswe2020group3/paperlayer/project/ProjectDetailContract.kt
  android/app/src/main/java/com/bounswe2020group3/paperlayer/project/ProjectDetailFragment.kt
  android/app/src/main/res/layout/fragment_profile.xml
  android/app/src/main/res/layout/fragment_project_detail.xml
  android/app/src/main/res/layout/layout_list_item_collaborationrequest.xml
  android/app/src/main/res/layout/layout_list_item_project_member.xml
Labels: Android, Type: Enhancement

#551 small bug in proj-edit fixed.
  front-end/src/Views/EditProjectPage.js
Labels: Frontend

#552 Fix project state on project detail fragment
  android/app/src/main/java/com/bounswe2020group3/paperlayer/project/ProjectDetailFragment.kt
Labels: Android, Priority: Critical, Type: Bug

#553 Constants.kt: Use azure URL
  android/app/src/main/java/com/bounswe2020group3/paperlayer/util/Constants.kt
Labels: Android, Priority: Critical

#554 edit project not shown fixed
  front-end/src/Views/ProjectPage.js
Labels: Frontend, Priority: Critical, Status: Completed :100:, Type: Bug
