Repository bounswe/bounswe2020group3, pull requests merged in 2021-01, with the labels that each got.

#556 Follow, Unfollow, Follow Request Actions and Account follow column Hi…
  front-end/src/Views/ProfilePage.js
  front-end/src/config.js
Labels: Frontend, Priority: High, Status: Review Needed, Type: Enhancement

#559 Tests for Follow System
  backend/.gitignore
  backend/backend/tests/test_follow.py
  backend/backend/tests/test_follow_request.py
Labels: Priority: High, Status: Review Needed, Type: Enhancement

#565 Backend notification
  backend/api/admin.py
  backend/api/mail.py
  backend/api/migrations/0016_auto_20201221_2147.py
  backend/api/migrations/0018_merge_20210107_2115.py
  backend/api/models/example.py
  backend/api/models/notification.py
  backend/api/serializers/example.py
  backend/api/serializers/notification.py
  backend/api/serializers/profile.py
  backend/api/serializers/user.py
  backend/api/urls.py
  backend/api/views/collaboration_invite.py
  backend/api/views/collaboration_request.py
  backend/api/views/comment.py
  backend/api/views/event.py
  backend/api/views/example.py
  backend/api/views/following.py
  backend/api/views/milestone.py
  backend/api/views/notification.py
  backend/api/views/project.py
  backend/api/views/rating.py
  backend/backend/settings.py
  backend/backend/tests/test_notification.py
  backend/poetry.lock
  backend/pyproject.toml
  front-end/package-lock.json
Labels: Backend, Priority: High, Status: In Progress, Type: Enhancement

#573 File download endpoint added
  backend/api/migrations/0019_auto_20210117_1056.py
  backend/api/models/file.py
  backend/api/views/file.py
Labels: Backend, Priority: Medium, Status: Review Needed

#580 Backend notification
  backend/api/serializers/following.py
  backend/api/serializers/notification.py
Labels: Backend, Type: Bug

#575 Fe file upload
  front-end/src/App.js
  front-end/src/Views/FileViewerPage.js
  front-end/src/Views/ProjectPage.js
  front-end/src/config.js
Labels: Frontend, Priority: High, Status: Completed :100:, Type: Enhancement

#572 Search page frontend
  front-end/src/Views/SearchPage.js
Labels: Frontend, Priority: Medium, Status: Review Needed, Type: Bug, Type: Enhancement

#581 Terms of Services Added and Fixed New!!!
  front-end/src/App.js
  front-end/src/Views/RegistrationPage.js
  front-end/src/Views/TermsOfServicesPage.js
  front-end/src/config.js
Labels: Frontend, Priority: Medium, Status: Completed :100:, Type: Enhancement

#563 Project Edit Event bug fixed
  front-end/src/Views/EditProjectPage.js
Labels: Frontend, Priority: Medium, Status: Review Needed, Type: Bug

#574 Fixed tag bug
  backend/api/admin.py
  backend/api/migrations/0020_auto_20210117_1512.py
  backend/api/models/tag.py
  backend/backend/tests/test_tag.py
Labels: Backend, Status: Review Needed, Type: Bug

#409 Google scholar linking
  backend/Dockerfile
  backend/api/migrations/0015_publication.py
  backend/api/migrations/0016_auto_20210117_1657.py
  backend/api/migrations/0020_merge_20210117_1732.py
  backend/api/models/publication.py
  backend/api/serializers/profile.py
  backend/api/serializers/publication.py
  backend/api/serializers/user.py
  backend/api/urls.py
  backend/api/utils.py
  backend/api/views/publication.py
  backend/backend/tests/test_publication.py
  backend/poetry.lock
  backend/pyproject.toml
Labels: Backend, Status: Review Needed

#584 [Backend] Implemented login with email
  backend/api/serializers/auth.py
  backend/api/views/auth.py
Labels: Backend, Priority: Medium, Status: Review Needed, Type: Enhancement

#593 Added collaborator recommendation
  backend/api/views/user.py
  backend/backend/tests/test_collaborator_recommendation.py
Labels: Backend, Status: Review Needed, Type: Enhancement

#597 Added project recommendations
  backend/api/utils.py
  backend/api/views/project.py
  backend/api/views/user.py
Labels: Backend, Status: Review Needed, Type: Enhancement

#587 Guest user search added
  front-end/src/App.js
  front-end/src/Components/TopBar/PrimarySearchAppBar.js
  front-end/src/Views/LoginPage.js
  front-end/src/Views/RegistrationPage.js
  front-end/src/Views/TermsOfServicesPage.js
Labels: Frontend, Priority: Medium, Status: Completed :100:, Type: Enhancement

#598 Notifications are implemented
  front-end/src/Components/TopBar/UserNavbar.js
  front-end/src/Views/CreateEventPage.js
  front-end/src/Views/CreateProjectPage.js
  front-end/src/Views/EditProfilePage.js
  front-end/src/Views/EditProjectPage.js
  front-end/src/Views/EventPage.js
  front-end/src/Views/FileViewerPage.js
  front-end/src/Views/HomePage.js
  front-end/src/Views/IssueMilestonePage.js
  front-end/src/Views/ProfilePage.js
  front-end/src/Views/ProjectPage.js
  front-end/src/Views/SearchPage.js
Labels: Frontend, Priority: High, Type: Enhancement

#590 Android/project page milestones
  android/app/src/main/java/com/bounswe2020group3/paperlayer/project/MilestoneAdapter.kt
  android/app/src/main/java/com/bounswe2020group3/paperlayer/project/MilestoneCard.kt
  android/app/src/main/java/com/bounswe2020group3/paperlayer/project/ProjectDetailContract.kt
  android/app/src/main/java/com/bounswe2020group3/paperlayer/project/ProjectDetailFragment.kt
  android/app/src/main/java/com/bounswe2020group3/paperlayer/util/Constants.kt
  android/app/src/main/res/layout/fragment_project_detail.xml
  android/app/src/main/res/layout/layout_list_item_project_milestone.xml
  android/app/src/main/res/values/strings.xml
Labels: Android, Priority: High, Status: Completed :100:

#609 Guest user mode
  front-end/src/App.js
  front-end/src/Components/Auth/Authenticate.js
  front-end/src/Components/Date/DateComponent.js
  front-end/src/Components/ProfileBar/Profilebar.js
  front-end/src/Components/TopBar/PrimarySearchAppBar.js
  front-end/src/Components/TopBar/UserNavbar.js
  front-end/src/Views/CreateEventPage.js
  front-end/src/Views/CreateProjectPage.js
  front-end/src/Views/EditProfilePage.js
  front-end/src/Views/EditProjectPage.js
  front-end/src/Views/EventPage.js
  front-end/src/Views/FileViewerPage.js
  front-end/src/Views/HomePage.js
  front-end/src/Views/IssueMilestonePage.js
  front-end/src/Views/ProfilePage.js
  front-end/src/Views/ProjectPage.js
  front-end/src/Views/SearchPage.js
Labels: Frontend, Priority: High, Status: Completed :100:, Type: Enhancement

#610 Added optional count limit for recommendations
  backend/api/views/project.py
  backend/api/views/user.py
Labels: Backend, Status: Review Needed, Type: Enhancement

#613 pagination for projects added to the homepage
  front-end/src/Views/HomePage.js
Labels: Frontend, Priority: Medium, Status: Review Needed, Type: Enhancement

#616 Added filter to get user by username
  backend/api/views/user.py
Labels: Backend, Priority: High, Status: Review Needed

#617 Search sort
  backend/api/views/search.py
Labels: Backend, Status: Review Needed, Type: Enhancement

#606 [Backend] Report Functionality
  backend/api/admin.py
  backend/api/migrations/0022_report.py
  backend/api/models/report.py
  backend/api/serializers/report.py
  backend/api/urls.py
  backend/api/views/report.py
Labels: Backend, Priority: High, Status: Completed :100:, Status: Review Needed, Type: Enhancement

#592 Simple design changes
  android/app/src/main/java/com/bounswe2020group3/paperlayer/home/EventFragment.kt
  android/app/src/main/java/com/bounswe2020group3/paperlayer/home/MilestoneFragment.kt
  android/app/src/main/java/com/bounswe2020group3/paperlayer/home/RecentProjectsFragment.kt
  android/app/src/main/java/com/bounswe2020group3/paperlayer/home/adaptors/ProjectAdaptor.kt
  android/app/src/main/res/layout/layout_list_item_event.xml
  android/app/src/main/res/menu/top_nav_menu.xml
Labels: Android, Priority: Low, Type: Enhancement

#618 Backend feed
  .github/workflows/backend-django.yml
  .gitignore
  backend/api/serializers/comment.py
  backend/api/serializers/following.py
  backend/api/serializers/rating.py
  backend/api/urls.py
  backend/api/views/auth.py
  backend/api/views/comment.py
  backend/api/views/event.py
  backend/api/views/feed.py
  backend/api/views/following.py
  backend/api/views/project.py
  backend/api/views/rating.py
  backend/backend/settings.py
  backend/backend/tests/test_feed.py
  backend/poetry.lock
  backend/pyproject.toml
Labels: Backend, Priority: High, Priority: Medium, Status: In Progress, Type: Enhancement

#611 Android/search page filter
  android/app/src/main/java/com/bounswe2020group3/paperlayer/search/AdvancedSearchFragment.kt
  android/app/src/main/java/com/bounswe2020group3/paperlayer/search/SearchContract.kt
  android/app/src/main/java/com/bounswe2020group3/paperlayer/search/SearchFragment.kt
  android/app/src/main/java/com/bounswe2020group3/paperlayer/search/SearchModel.kt
  android/app/src/main/java/com/bounswe2020group3/paperlayer/search/SearchPresenter.kt
  android/app/src/main/java/com/bounswe2020group3/paperlayer/search/data/Search.kt
  android/app/src/main/java/com/bounswe2020group3/paperlayer/search/data/TagList.kt
  android/app/src/main/res/layout/fragment_search.xml
  android/app/src/main/res/layout/fragment_search_filter.xml
  android/app/src/main/res/layout/layout_list_item_search_filter_dropdown.xml
  android/app/src/main/res/navigation/main_navigation.xml
Labels: Android, Priority: High, Status: Completed :100:, Type: Enhancement

#625 added migration file
  backend/api/migrations/0023_merge_20210124_1237.py
Labels: Type: Bug

#603 Android invite recommendation implementation
  android/app/src/main/java/com/bounswe2020group3/paperlayer/dagger/AppComponent.kt
  android/app/src/main/java/com/bounswe2020group3/paperlayer/dagger/InviteModule.kt
  android/app/src/main/java/com/bounswe2020group3/paperlayer/invite/InviteContract.kt
  android/app/src/main/java/com/bounswe2020group3/paperlayer/invite/InviteModel.kt
  android/app/src/main/java/com/bounswe2020group3/paperlayer/invite/InvitePresenter.kt
  android/app/src/main/java/com/bounswe2020group3/paperlayer/invite/ManageInvitesContract.kt
  android/app/src/main/java/com/bounswe2020group3/paperlayer/invite/ManageInvitesFragment.kt
  android/app/src/main/java/com/bounswe2020group3/paperlayer/invite/ManageInvitesPresenter.kt
  android/app/src/main/java/com/bounswe2020group3/paperlayer/project/ProjectDetailFragment.kt
  android/app/src/main/java/com/bounswe2020group3/paperlayer/util/Constants.kt
  android/app/src/main/res/layout/fragment_project_detail.xml
  android/app/src/main/res/navigation/main_navigation.xml
Labels: Android, Priority: High, Status: Completed :100:, Type: Enhancement

#627 Fixed bug with casting
  backend/api/views/project.py
Labels: Backend, Priority: High, Type: Bug

#615 Clicking on members in project page forwards to their profiles
  front-end/src/Views/HomePage.js
  front-end/src/Views/ProjectPage.js
Labels: Frontend, Priority: Medium, Status: Completed :100:, Type: Enhancement

#607 Showing recommended projects first implemented.
  android/app/src/main/java/com/bounswe2020group3/paperlayer/dagger/AppComponent.kt
  android/app/src/main/java/com/bounswe2020group3/paperlayer/dagger/HomeModule.kt
  android/app/src/main/java/com/bounswe2020group3/paperlayer/home/EventFragment.kt
  android/app/src/main/java/com/bounswe2020group3/paperlayer/home/HomeContract.kt
  android/app/src/main/java/com/bounswe2020group3/paperlayer/home/HomeModel.kt
  android/app/src/main/java/com/bounswe2020group3/paperlayer/home/MilestoneFragment.kt
  android/app/src/main/java/com/bounswe2020group3/paperlayer/home/RecommendedProjectsFragment.kt
  android/app/src/main/java/com/bounswe2020group3/paperlayer/home/RecommendedProjectsPresenter.kt
  android/app/src/main/java/com/bounswe2020group3/paperlayer/util/Constants.kt
  android/app/src/main/res/layout/fragment_recommended_projects.xml
  android/app/src/main/res/layout/layout_list_item_milestone.xml
  android/app/src/main/res/menu/top_nav_menu.xml
  android/app/src/main/res/navigation/main_navigation.xml
Labels: Android, Priority: High, Status: Completed :100:, Status: Review Needed, Type: Enhancement

#619 Reenabling email verification. Read the description.
  backend/api/views/auth.py
  backend/backend/settings.py
  backend/backend/tests/test_feed.py
Labels: Backend, Priority: Medium, Status: Review Needed, Type: Enhancement

#628 [Frontend] Collaboration & Comment Requests Notifications are Implemented
  front-end/src/Components/TopBar/UserNavbar.js
Labels: Frontend, Priority: High, Status: Completed :100:, Type: Enhancement

#632 Update main_navigation.xml
  android/app/src/main/res/navigation/main_navigation.xml
Labels: Android, Priority: Low, Status: Completed :100:

#631 [Android] Bug resolved - Change the visibility of the members back to its original state
  android/app/src/main/res/layout/fragment_project_detail.xml
Labels: Android, Priority: Critical, Status: Completed :100:, Type: Bug

#636 Reenable email verification
  backend/api/views/auth.py
  backend/backend/settings.py
Labels: Backend, Priority: Medium, Status: Review Needed, Type: Bug

#635 Android/google scholar
  android/app/src/main/java/com/bounswe2020group3/paperlayer/network/RetrofitProvider.kt
  android/app/src/main/java/com/bounswe2020group3/paperlayer/project/ProjectModel.kt
  android/app/src/main/java/com/bounswe2020group3/paperlayer/project/ProjectsContract.kt
  android/app/src/main/java/com/bounswe2020group3/paperlayer/project/ProjectsFragment.kt
  android/app/src/main/java/com/bounswe2020group3/paperlayer/project/ProjectsPresenter.kt
  android/app/src/main/java/com/bounswe2020group3/paperlayer/project/PublicationAdapter.kt
  android/app/src/main/java/com/bounswe2020group3/paperlayer/project/data/Publication.kt
  android/app/src/main/java/com/bounswe2020group3/paperlayer/util/Constants.kt
  android/app/src/main/res/layout/fragment_projects.xml
Labels: Android, Priority: High, Status: Completed :100:, Type: Enhancement

#596 Front end dev emirhan
  front-end/src/Views/ProfilePage.js
  front-end/src/Views/ProjectPage.js
Labels: Frontend, Priority: Critical, Status: In Progress, Type: Enhancement, help wanted

#637 Increased try number and now printing error
  backend/api/views/auth.py
Labels: Backend, Priority: Medium, Status: Review Needed, Type: Bug

#626 [Android] Implementation of notifications feature
  android/app/src/main/java/com/bounswe2020group3/paperlayer/MainActivity.kt
  android/app/src/main/java/com/bounswe2020group3/paperlayer/dagger/AppComponent.kt
  android/app/src/main/java/com/bounswe2020group3/paperlayer/dagger/NotificationModule.kt
  android/app/src/main/java/com/bounswe2020group3/paperlayer/home/EventFragment.kt
  android/app/src/main/java/com/bounswe2020group3/paperlayer/home/EventPresenter.kt
  android/app/src/main/java/com/bounswe2020group3/paperlayer/home/HomeContract.kt
  android/app/src/main/java/com/bounswe2020group3/paperlayer/home/HomeModel.kt
  android/app/src/main/java/com/bounswe2020group3/paperlayer/home/data/Notification.kt
  android/app/src/main/java/com/bounswe2020group3/paperlayer/home/data/NotificationActor.kt
  android/app/src/main/java/com/bounswe2020group3/paperlayer/home/data/NotificationResponse.kt
  android/app/src/main/java/com/bounswe2020group3/paperlayer/home/data/NotificationType.kt
  android/app/src/main/java/com/bounswe2020group3/paperlayer/home/data/NotificationUnreadCountResponse.kt
  android/app/src/main/java/com/bounswe2020group3/paperlayer/notifications/NotificationContract.kt
  android/app/src/main/java/com/bounswe2020group3/paperlayer/notifications/NotificationFragment.kt
  android/app/src/main/java/com/bounswe2020group3/paperlayer/notifications/NotificationModel.kt
  android/app/src/main/java/com/bounswe2020group3/paperlayer/notifications/NotificationPresenter.kt
  android/app/src/main/java/com/bounswe2020group3/paperlayer/notifications/adapter/NotificationAdapter.kt
  android/app/src/main/java/com/bounswe2020group3/paperlayer/projectCreate/ProjectCreateModel.kt
  android/app/src/main/res/drawable-v24/ic_blue_dot.png
  android/app/src/main/res/drawable/rounded_square.xml
  android/app/src/main/res/layout/fragment_notification.xml
  android/app/src/main/res/layout/layout_list_item_notification.xml
  android/app/src/main/res/layout/layout_with_badge.xml
  android/app/src/main/res/menu/main_menu.xml
  android/app/src/main/res/menu/top_options_menu.xml
  android/app/src/main/res/navigation/main_navigation.xml
Labels: Android, Priority: High

#643 Modified error catching mechanism for sending verifiaction email
  backend/api/views/auth.py
Labels: Backend, Priority: Medium, Status: Review Needed, Type: Bug

#639 Reversed the sort for default
  backend/api/views/project.py
  backend/api/views/publication.py
Labels: Backend, Status: Review Needed, Type: Enhancement

#645 Fixed overwrited search view
  backend/api/views/search.py
Labels: Backend, Status: Review Needed, Type: Bug

#650 Visual bug fix - Gap between navbar and sidebar
  front-end/src/Components/ProfileBar/Profilebar.js
  front-end/src/Views/ProfilePage.js
  front-end/src/Views/ProjectPage.js
Labels: Frontend, Priority: High, Status: Completed :100:, Type: Bug

#621 Search page filter and sort
  front-end/src/Views/SearchPage.js
Labels: Frontend, Priority: Medium, Status: Review Needed, Type: Enhancement

#649 publications from google scholar page added to user's profile page
  front-end/src/Views/ProfilePage.js
  front-end/src/Views/ProjectPage.js
Labels: Frontend, Priority: High, Status: Completed :100:, Type: Enhancement

#642 Error is handled
  android/app/src/main/java/com/bounswe2020group3/paperlayer/collaborationRequests/CollabFragment.kt
  android/app/src/main/java/com/bounswe2020group3/paperlayer/home/EventFragment.kt
  android/app/src/main/java/com/bounswe2020group3/paperlayer/home/MilestoneFragment.kt
  android/app/src/main/java/com/bounswe2020group3/paperlayer/home/RecommendedProjectsFragment.kt
  android/app/src/main/java/com/bounswe2020group3/paperlayer/invite/InviteFragment.kt
  android/app/src/main/java/com/bounswe2020group3/paperlayer/invite/ManageInvitesFragment.kt
  android/app/src/main/java/com/bounswe2020group3/paperlayer/project/ProjectDetailFragment.kt
  android/app/src/main/java/com/bounswe2020group3/paperlayer/project/ProjectDetailPresenter.kt
  android/app/src/main/java/com/bounswe2020group3/paperlayer/register/RegisterFragment.kt
  android/app/src/main/res/navigation/main_navigation.xml
Labels: Android, Priority: Critical, Type: Bug, help wanted

#640 Display projects that user is a member, instead of owner
  android/app/src/main/java/com/bounswe2020group3/paperlayer/project/ProjectModel.kt
  android/app/src/main/java/com/bounswe2020group3/paperlayer/project/ProjectsContract.kt
  android/app/src/main/java/com/bounswe2020group3/paperlayer/project/ProjectsPresenter.kt
Labels: Android, Status: Completed :100:, Type: Enhancement

#634 Android report user
  android/.idea/codeStyles/codeStyleConfig.xml
  android/app/src/main/java/com/bounswe2020group3/paperlayer/dagger/AppComponent.kt
  android/app/src/main/java/com/bounswe2020group3/paperlayer/dagger/ReportModule.kt
  android/app/src/main/java/com/bounswe2020group3/paperlayer/data/user/Report.kt
  android/app/src/main/java/com/bounswe2020group3/paperlayer/profile/ProfileContract.kt
  android/app/src/main/java/com/bounswe2020group3/paperlayer/profile/ProfileModel.kt
  android/app/src/main/java/com/bounswe2020group3/paperlayer/profile/report/ReportContract.kt
  android/app/src/main/java/com/bounswe2020group3/paperlayer/profile/report/ReportFragment.kt
  android/app/src/main/java/com/bounswe2020group3/paperlayer/profile/report/ReportPresenter.kt
  android/app/src/main/java/com/bounswe2020group3/paperlayer/profile/user/UserFragment.kt
  android/app/src/main/res/drawable-anydpi/ic_warning_white.xml
  android/app/src/main/res/drawable-hdpi/ic_warning_white.png
  android/app/src/main/res/drawable-mdpi/ic_warning_white.png
  android/app/src/main/res/drawable-xhdpi/ic_warning_white.png
  android/app/src/main/res/drawable-xxhdpi/ic_warning_white.png
  android/app/src/main/res/layout/fragment_report.xml
  android/app/src/main/res/layout/fragment_user.xml
  android/app/src/main/res/navigation/main_navigation.xml
  android/app/src/main/res/values/strings.xml
Labels: Android, Status: Completed :100:, Type: Enhancement

#657 Fixed a bug that occured while creating a comment
  backend/api/serializers/comment.py
  backend/api/views/comment.py
Labels: Backend, Priority: Critical, Status: Review Needed, Type: Bug

#644 Project tags shown in users own projects.
  android/app/src/main/java/com/bounswe2020group3/paperlayer/project/ProjectAdapter.kt
  android/app/src/main/java/com/bounswe2020group3/paperlayer/project/ProjectCard.kt
  android/app/src/main/java/com/bounswe2020group3/paperlayer/project/ProjectsContract.kt
  android/app/src/main/java/com/bounswe2020group3/paperlayer/project/ProjectsFragment.kt
  android/app/src/main/java/com/bounswe2020group3/paperlayer/project/ProjectsPresenter.kt
  android/app/src/main/java/com/bounswe2020group3/paperlayer/project/PublicationAdapter.kt
  android/app/src/main/java/com/bounswe2020group3/paperlayer/project/data/ProjectShort.kt
  android/app/src/main/res/layout/layout_list_item_project.xml
Labels: Android, Priority: Medium, Status: Completed :100:, Type: Bug

#655 Fix profile picture display bug
  android/app/src/main/java/com/bounswe2020group3/paperlayer/invite/UserInviteAdapter.kt
Labels: Android, Status: Completed :100:, Type: Bug

#659 minor bug fix for publications on profile pages of other users
  front-end/src/Views/ProfilePage.js
Labels: Frontend, Priority: Critical, Type: Bug

#660 Fixed a bug in comment and file
  backend/api/views/comment.py
  backend/api/views/file.py
Labels: Backend, Priority: Critical, Status: Review Needed, Type: Bug

#665 Using 3rd party Email API for email verification
  backend/api/views/auth.py
Labels: Backend, Priority: High, Status: Review Needed, Type: Bug

#663 project page name field bug fixed
  front-end/src/Views/ProjectPage.js
Labels: Frontend, Type: Bug

#669 Delete comment fix
  front-end/src/Views/FileViewerPage.js
  front-end/src/Views/ProfilePage.js
Labels: Frontend, Priority: High, Status: Completed :100:, Type: Bug

#651 Add activity feed
  front-end/src/Views/HomePage.js
Labels: Frontend, Priority: Medium, Status: Review Needed, Type: Enhancement

#674 Android file manage
  android/app/build.gradle
  android/app/src/main/java/com/bounswe2020group3/paperlayer/project/FileCard.kt
  android/app/src/main/java/com/bounswe2020group3/paperlayer/project/FilesAdapter.kt
  android/app/src/main/java/com/bounswe2020group3/paperlayer/project/ProjectDetailContract.kt
  android/app/src/main/java/com/bounswe2020group3/paperlayer/project/ProjectDetailFragment.kt
  android/app/src/main/java/com/bounswe2020group3/paperlayer/project/ProjectDetailPresenter.kt
  android/app/src/main/java/com/bounswe2020group3/paperlayer/project/ProjectModel.kt
  android/app/src/main/java/com/bounswe2020group3/paperlayer/project/data/File.kt
  android/app/src/main/res/drawable-v24/ic_upload_file.png
  android/app/src/main/res/layout/fragment_project_detail.xml
  android/app/src/main/res/layout/layout_list_item_file.xml
Labels: Android, Priority: High, Status: Completed :100:, Status: Review Needed, Type: Enhancement

#664 Android/bug fix search
  android/app/src/main/java/com/bounswe2020group3/paperlayer/project/ProjectDetailFragment.kt
  android/app/src/main/java/com/bounswe2020group3/paperlayer/project/ProjectDetailPresenter.kt
  android/app/src/main/java/com/bounswe2020group3/paperlayer/search/SearchFragment.kt
  android/app/src/main/java/com/bounswe2020group3/paperlayer/search/SearchPresenter.kt
Labels: Android, Priority: High, Status: Completed :100:, Type: Bug

#667 Added "project_event_title" filter to search
  backend/api/serializers/search.py
  backend/api/views/search.py
Labels: Backend, Priority: Medium, Status: Review Needed, Type: Enhancement

#678 Now setting new users' is_active field to false until verification.
  backend/api/views/auth.py
Labels: Backend, Priority: Medium, Status: Review Needed, Type: Bug

#676 [Frontend] Recommendation Implemented
  front-end/src/Views/HomePage.js
  front-end/src/Views/ProfilePage.js
  front-end/src/Views/ProjectPage.js
Labels: Frontend, Priority: High, Status: Completed :100:, Type: Enhancement

#677 Android/publication page
  android/app/src/main/java/com/bounswe2020group3/paperlayer/dagger/AppComponent.kt
  android/app/src/main/java/com/bounswe2020group3/paperlayer/dagger/PublicationModule.kt
  android/app/src/main/java/com/bounswe2020group3/paperlayer/profile/user/UserFragment.kt
  android/app/src/main/java/com/bounswe2020group3/paperlayer/publication/PublicationContract.kt
  android/app/src/main/java/com/bounswe2020group3/paperlayer/publication/PublicationFragment.kt
  android/app/src/main/java/com/bounswe2020group3/paperlayer/publication/PublicationModel.kt
  android/app/src/main/java/com/bounswe2020group3/paperlayer/publication/PublicationPresenter.kt
  android/app/src/main/java/com/bounswe2020group3/paperlayer/search/data/Search.kt
  android/app/src/main/res/layout/fragment_publication.xml
  android/app/src/main/res/layout/fragment_search_filter.xml
  android/app/src/main/res/layout/fragment_user.xml
  android/app/src/main/res/navigation/main_navigation.xml
Labels: Android, Priority: High, Status: Completed :100:, Type: Enhancement

#679 Made changes for django_email_verification library
  backend/api/serializers/auth.py
  backend/api/views/auth.py
  backend/backend/settings.py
Labels: Backend, Priority: High, Status: Review Needed, Type: Bug

#658 User Report is ready to spam rain for people like M.Blue!!!
  front-end/src/Views/ProfilePage.js
  front-end/src/config.js
Labels: Frontend, Priority: High, Status: Review Needed

#647 Email Verification in Frontend!
  front-end/src/Views/LoginPage.js
Labels: Frontend, Priority: High, Status: Review Needed

#684 General bug fix
  front-end/src/Views/ProfilePage.js
Labels: Frontend, Priority: Critical, Status: Completed :100:, Type: Bug

#686 long recom. name bug fixed by removing max height
  front-end/src/Views/FileViewerPage.js
  front-end/src/Views/HomePage.js
  front-end/src/Views/ProfilePage.js
Labels: Frontend, Priority: High, Status: Completed :100:, Type: Bug

#680 Android UI updates
  android/app/src/main/java/com/bounswe2020group3/paperlayer/home/adaptors/EventAdaptor.kt
  android/app/src/main/java/com/bounswe2020group3/paperlayer/profile/user/UserFragment.kt
  android/app/src/main/java/com/bounswe2020group3/paperlayer/project/ProjectDetailFragment.kt
  android/app/src/main/java/com/bounswe2020group3/paperlayer/project/ProjectDetailPresenter.kt
  android/app/src/main/res/drawable-anydpi/ic_event.xml
  android/app/src/main/res/drawable-hdpi/ic_event.png
  android/app/src/main/res/drawable-mdpi/ic_event.png
  android/app/src/main/res/drawable-v24/ic_event.png
  android/app/src/main/res/drawable-xhdpi/ic_event.png
  android/app/src/main/res/drawable-xxhdpi/ic_event.png
  android/app/src/main/res/layout/fragment_user.xml
  android/app/src/main/res/layout/layout_list_item_event.xml
  android/app/src/main/res/layout/layout_list_item_milestone.xml
  android/app/src/main/res/menu/top_nav_menu.xml
  android/app/src/main/res/navigation/main_navigation.xml
Labels: Android, Type: Enhancement

#682 [Android] Show rating on profile page
  android/app/src/main/java/com/bounswe2020group3/paperlayer/data/user/Profile.kt
  android/app/src/main/java/com/bounswe2020group3/paperlayer/profile/ProfileFragment.kt
  android/app/src/main/java/com/bounswe2020group3/paperlayer/profile/user/UserFragment.kt
Labels: Android, Priority: Critical, Type: Enhancement

#687 Android - Implement invitation accept/reject
  android/app/src/main/java/com/bounswe2020group3/paperlayer/collaborationRequests/CollabAdaptor.kt
  android/app/src/main/java/com/bounswe2020group3/paperlayer/collaborationRequests/CollabCard.kt
  android/app/src/main/java/com/bounswe2020group3/paperlayer/collaborationRequests/CollabContract.kt
  android/app/src/main/java/com/bounswe2020group3/paperlayer/collaborationRequests/CollabFragment.kt
  android/app/src/main/java/com/bounswe2020group3/paperlayer/collaborationRequests/CollabPresenter.kt
  android/app/src/main/java/com/bounswe2020group3/paperlayer/invite/InviteContract.kt
  android/app/src/main/java/com/bounswe2020group3/paperlayer/invite/InviteModel.kt
  android/app/src/main/java/com/bounswe2020group3/paperlayer/project/ProjectsContract.kt
  android/app/src/main/java/com/bounswe2020group3/paperlayer/project/ProjectsFragment.kt
  android/app/src/main/java/com/bounswe2020group3/paperlayer/project/ProjectsPresenter.kt
  android/app/src/main/java/com/bounswe2020group3/paperlayer/request/RequestAdapter.kt
  android/app/src/main/java/com/bounswe2020group3/paperlayer/request/RequestItem.kt
  android/app/src/main/res/layout/fragment_projects.xml
  android/app/src/main/res/layout/layout_list_item_request.xml
  android/app/src/main/res/navigation/main_navigation.xml
  android/app/src/main/res/values/strings.xml
Labels: Android, Type: Enhancement

#692 readme file changed
  front-end/README.md
Labels: Frontend, Priority: High, Status: Completed :100:, Type: Documentation

#690 Number of raters
  backend/api/serializers/profile.py
  backend/api/utils.py
Labels: Backend, Priority: Medium, Status: Completed :100:
